<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">

            <div id="DashboadQuickMenuBox">
                
                <app-card [title]="'Fastag Bank Approval'"
                    [bodyText]="'Fastag Bank Approval'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                     [routingLinkUrl]="'/admin/fastag/fastagbankapproval'">
                </app-card>

                <app-card [title]="'Fastag Credit Limit Approval'"
                    [bodyText]="'Fastag Credit Limit Approval'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/fastag/fastagcreditlimitapproval'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->