<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            
            <div id="DashboadQuickMenuBox">
                
                <app-card [title]="'Merchant Approvals'"
                    [bodyText]="'Approve New or Update Merchant'"
                    [imageIcon]="'assets/images/Merchant_Approval.png'" [routingLinkUrl]="'/admin/merchant/merchantapproval'">
                </app-card>

                <app-card [title]="'Merchant Creation View'"
                [bodyText]="'Merchant Creation View'"
                [imageIcon]="'assets/images/Merchant_Approval.png'" [routingLinkUrl]="'/admin/merchant/merchantcreationview'">
            </app-card>

                <app-card [title]="'Reset Dealer Password'"
                    [bodyText]="'Reset Dealer Passowrd by MO'"
                    [imageIcon]="'assets/images/SMS-Message-icon.png'"
                    [routingLinkUrl]="'/admin/merchant/merchantcredentailrequest'">
                </app-card>

        
            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->