<app-header></app-header>

<div class="full-height banner_section">
	<img src="assets/images/intro.jpg" class="img-fluid" alt="Into Banner">
	<p class="banner_text">HP PAY is a powerful Loyalty and Payment program that provides complete fuel management solution to its owners and operators in the form of an unbeatable combination of control, convenience, security and attractive reward points.
		Come, Sign up here instantaneously.</p>
	</div>
<section class="info-section instant-rewards row">
	<div class="col-md-6">
		<figure>
			<img src="assets/images/instant-rewards.png" class="img-fluid" alt="">
		</figure>
	</div>
	<div class="col-md-6">
		<div class="figcaption">
			<p>Instant Rewards for your fuel spends in the form of Payback points.</p>
		</div>
	</div>
</section>
<section class="info-section insurance row">
	<div class="col-md-6">
		<div class="figcaption">
			<p>Accidental Death Insurance of <span class="text-warning">1,00,000/-</span></p>
		</div>
	</div>
	<div class="col-md-6">
		<figure>
			<img src="assets/images/accidental-death.png" class="img-fluid" alt="">
		</figure>
	</div>	
</section>
<section class="info-section enrollment row">
	<div class="col-md-6">
		<figure>
			<img src="assets/images/Instant-enrollment.png" class="img-fluid" alt="">
		</figure>
	</div>
	<div class="col-md-6">
		<div class="figcaption">
			<p>Instant Enrollment (<a href="/applyNow" class="text-link">Click Here</a>)</p>
		</div>
	</div>
</section>
<section class="info-section mobi-fuel row">
	<div class="col-md-6">
		<div class="figcaption">
			<p>HP PAY gives you easier, faster and total control of your fueling and LPG experience through your mobile.</p>
		</div>
	</div>
	<div class="col-md-6">
		<figure class="align-items-end">
			<img src="assets/images/mobi-fuel.png" class="img-fluid" alt="">
		</figure>
	</div>	
</section>
<section class="info-section cardless row">
	<div class="col-md-6">
		<figure class="align-items-end">
			<img src="assets/images/cardless-transactions.png" class="img-fluid" alt="">
		</figure>
	</div>
	<div class="col-md-6">
		<div class="figcaption">
			<p>Cardless transactions that are OTP protected</p>
		</div>
	</div>
</section>
<section class="info-section cashless row">
	<div class="col-md-6">
		<div class="figcaption">
			<p>Cashless and Secured Transactions</p>
		</div>
	</div>
	<div class="col-md-6">
		<figure class="align-items-end">
			<img src="assets/images/cashless.png" class="img-fluid" alt="">
		</figure>
	</div>
</section>
<section class="info-section upi row">
	<div class="col-md-6">
		<figure>
			<img src="assets/images/upi.png" class="img-fluid" alt="">
		</figure>
	</div>
	<div class="col-md-6">
		<div class="figcaption">
			<p>Unified Payments Interface (UPI) Now pay instantly from your bank account.</p>
		</div>
	</div>
</section>
<section class="info-section qrcode row">
	<div class="col-md-6">
		<div class="figcaption">
			<p>Scan QR code on HPCL Petrol Pumps to make hassle free cashless payment.</p>
		</div>
	</div>
	<div class="col-md-6">
		<figure>
			<img src="assets/images/qrcode.png" class="img-fluid" alt="">
		</figure>
	</div>
</section>
<section class="info-section account-management row">
	<div class="col-md-6">
		<figure>
			<img src="assets/images/web.png" class="img-fluid" alt="">
		</figure>
	</div>
	<div class="col-md-6">
		<div class="figcaption">
			<p>Web & Mobile access for account management</p>
		</div>
	</div>
</section>
<section class="info-section customer-care row">
	<div class="col-md-6">
		<div class="figcaption">
			<p>24/7 Customer Care & Enquiry Toll Free no.
			<span class="text-warning">	1800-1039-811</span></p>
		</div>
	</div>
	<div class="col-md-6">
		<figure class="align-items-end">
			<img src="assets/images/customer-care.png" class="img-fluid" alt="">
		</figure>
	</div>
</section>

<section class="info-section sms row">
	<div class="col-md-6">
		<figure class="align-items-end">
			<img src="assets/images/sms-alert.png" class="img-fluid" alt="">
		</figure>
	</div>
	<div class="col-md-6">
		<div class="figcaption">
			<p>SMS Alerts</p>
		</div>
	</div>
</section>
<section class="info-section petrol-pump row">
	<div class="col-md-6">
		<div class="figcaption">
			<p>Accepted at 15000+ HPCL petrol pumps</p>
		</div>
	</div>
	<div class="col-md-6">
		<figure>
			<img src="assets/images/petrol-pumps.png" class="img-fluid" alt="">
		</figure>
	</div>
</section>
<app-footer></app-footer>