.blue-bg {
  background-color: #084594;
}
.highlight2{
  background: #aef0e7; /* green */
}
html,
body {
  height: 130%;
}
.mat-column-sno {
  flex: 0 0 10%;
}
.mat-column-select {
  flex: 0 0 10%;
}
.mat-column-actions {
  flex: 0 0 10%;
}