<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">

            <div id="DashboadQuickMenuBox">
                
                <app-card [title]="'Manage Bank Credit Limit'"
                    [bodyText]="'Manage Bank Credit Limit'"
                    [imageIcon]="'assets/images/Retail Customer.png'" [routingLinkUrl]="'/admin/fastag/managebanklimit'">
                </app-card>

                <app-card [title]="'Bank Credit Limit Status'"
                    [bodyText]="'Bank Credit Limit Status'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/fastag/bankcreditlimit'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->