/*.main_header {
    border-bottom: 1px solid #00baf2;
}*/
.header_wrapper {
  background: #212121;
  display: flex;
  align-items: flex-start;
  padding: 5px 25px 10px;
  justify-content: space-between;
}
.logo {
  display: block;
}
.logo a {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.logo img {
  max-width: 59px;
  margin-right: 12px;
}
.header_top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header_top p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
  color: #bdbdbd;
}
.downloadApp_img img {
  max-width: 125px;
}
.downloadApp_img {
  padding: 0 7px;
}
.header_nav {
  padding: 0;
}
.header_nav ul {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.header_nav ul li {
  display: inline-block;
  margin: 0 5px;
}
.header_nav ul li a {
  display: block;
  padding: 8px 5px;
  color: #fff;
  font-weight: 400;
  position: relative;
}
.header_nav ul li.active a {
  position: relative;
}
.header_nav ul li a:hover {
  text-decoration: none;
}
.header_nav ul li a:before,
.header_nav ul li a:after {
  transition: all 0.2s;
  width: 0;
  position: relative;
}
.header_nav ul li a:before {
  position: absolute;
  content: "";
  background: #fff;
  height: 1px;
  width: 0;
  top: 0;
  left: 0;
}
.header_nav ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  height: 1px;
  width: 0;
  bottom: 0;
  right: 0;
}
.header_nav ul li a:hover:before,
.header_nav ul li a:hover:after,
.header_nav ul li.active a:before,
.header_nav ul li.active a:after {
  width: 100%;
}

.login_wrapper {
  max-width: 500px;
  width: 100%;
  background: url(/assets/images/pole.png) no-repeat top left,
    url(/assets/images/curve.png) no-repeat bottom right #fff;
  background-size: contain;
  padding: 20px 20px 40px 30px;
}
.btn_login,
.btn_search {
  width: 100%;
  height: 38px;
  background-color: #0150ad;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  box-shadow: 0 1px 4px rgb(0 0 0 / 26%);
  border-radius: 3.4rem;
  text-transform: capitalize;
}
.login_block {
  max-width: 320px;
  margin: 0 auto;
}
.login_logo {
  max-width: 140px;
  margin: 0 auto 20px;
}
.bb-1 {
  border-bottom: 1px solid #ccc;
}
.f-login,
.g-login {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  padding: 4px 15px;
  opacity: 0.95;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
}
.g-login {
  background-color: #f9493a;
}
.nav_btn {
  max-width: 45px;
}
@media screen and (max-width: 992px) {
  #navbarNav {
    position: absolute;
    background: #212121;
    top: 64px;
    width: 100%;
    left: 0;
    z-index: 100;
  }
  .header_nav li {
    width: 100%;
  }
  .header_wrapper {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .logo img {
    max-width: 35px;
  }
  .header_nav ul li {
    margin: 0;
  }
  .login_wrapper {
    padding: 10px;
    background: none;
  }
}

.container {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
