<div class="cutom-fb" style="overflow: hidden; z-index: 20;">
    <div class="custom-bg custom-bt">
        <div class="row pl-3 pr-3">
            <div class="col custom-font-white">
                <ul class="nav justify-content-start">
                    <li class="nav-item custom-navbar-item">
                        <a routerLink="./">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="nav-item custom-navbar-item">|</li>
                    <li class="nav-item custom-navbar-item">
                        <a routerLink="./">
                            Legal Notice
                        </a>
                    </li>
                    <li class="nav-item custom-navbar-item">|</li>
                    <li class="nav-item custom-navbar-item">
                        <a routerLink="./">
                            Terms & Conditions
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col custom-font-white">
                HP PAY Version(Build 0.0.0, Revision 0)
            </div>
            <div class="col custom-font-white text-right">
                Copyright 2021, HPCL. All rights reserved.
            </div>
        </div>
    </div>
</div>