<div class="container-fluid">
    <div class="container">
        <div class="row form-group">
            <div class="col-12">
                <div class="card mt-3 mb-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                        <strong>Create Offers</strong>
                    </div>
                    <div class="card-body pt-0">


                       


                        <table class="w-100 table table-borderless table-sm">
                           
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">Title
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>

                                    <td align="left">
                                        <span><span class="required">Description
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <textarea type="text" class="form-control"></textarea>
                                            

                                        </div>
                                    </td>
                                   
                                </tr>
                               
                                <tr>

                                    <td align="left">
                                        <span><span class="required">Display Order
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>

                                    <td align="left">
                                        <span><span class="required">Offer Image Type
                                            </span></span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="select">select</option>
                                                <option value="Customer">L-1</option>
                                                <option value="Merchant">L-2</option>
                                                <option value="Customer">L-3</option>
                                                <option value="Merchant">L-4</option>
                                            </select>
                                        </div>
                                    </td>

                                </tr>

                               

                                <tr>
                                    <td align="left">
                                        <span><span class="required">Start Date
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="date" class="form-control">
                                        </div>
                                    </td>



                                    <td align="left">
                                        <span><span class="required">End Date
                                            </span>:</span>

                                    </td>
                                    <td>

                                        <div class="form-group">
                                            <input type="date" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">Offer Detail Image
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="file" class="form-control">
                                        </div>
                                    </td>



                                    <td align="left">
                                        <span><span class="required">Dashboard Image
                                            </span>:</span>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="file" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align=" left">
                                        <span><span class="required">Image Label
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="text" class="form-control">

                                        </div>
                                    </td>



                                  
                                </tr>
                                


                                <tr>
                                    <td align="right" colspan="4">
                                        <div class=" d-flex flex-row justify-content-end">
                                            <div class="mr-3">
                                                <button class="btn btn-primary pl-3 pr-3">Submit</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary pl-3 pr-3"
                                                    >Reset</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>