<div class="container pt-5">
  <div class="card shadow">
    <div class="py-2 px-3 blue-bg text-white">
      <h4 class="m-0 text-white">QR Agents Onboarding</h4>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center flex-wrap">
        <ng-container *ngIf="isBeingAdded">
          <div class="d-flex align-items-center flex-wrap mb-3 col-sm-12 col-lg-3 px-0">
            <label class="required col-12">First Name</label>
            <div class="col-12">
              <input type="text" placeholder="" [(ngModel)]="newMerchantFsm.fsM_Firstname" class="form-control" />
            </div>            
          </div>
          <div class="d-flex align-items-center flex-wrap mb-3 col-lg-3 px-0">
            <label class="required col-12">Last Name</label>
            <div class="col-12">
              <input type="text" placeholder="" [(ngModel)]="newMerchantFsm.fsM_Lastname" class="form-control" />
            </div>            
          </div>
          <div class="d-flex align-items-center flex-wrap mb-3 col-lg-3 px-0">
            <label class="required col-12">Mobile No.</label>
            <div class="col-12">
              <input type="test" placeholder="" [(ngModel)]="newMerchantFsm.fsM_Mobileno" class="form-control" maxlength="10" minlength="10" />
            </div>            
          </div>
          <div class="col-lg-3 px-0">
            <label class=" col-12 d-none d-lg-block">&nbsp;</label>
            <div class="col-12">
              <button class="btn btn-md btn-primary mb-3 w-100" (click)="handleFsmSave()">Save</button>
            </div>
            
          </div>
          
        </ng-container>
        <ng-container *ngIf="!isBeingAdded">
          <button class="btn btn-md btn-primary ml-1" (click)="handleAddFsm()">Add FSM</button>
        </ng-container>
      </div>

      <div>
        <p-table [value]="fsmList" class="table table-responsive" >
          <ng-template pTemplate="header">
            <tr>
              <th>S.No</th>
              <th>FSM Name</th>
              <th>FSM Mobile No</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-fsm let-rowIndex="rowIndex">
            <tr>
              <td>{{ rowIndex + 1 }}</td>
              <td>{{ fsm.fsmName }}</td>
              <td>{{ fsm.fsmMobileNo }}</td>
              <td>
                <button class="btn btn-sm" (click)="handleGenerateQr(fsm)">
                  Generate QR Code
                </button>
                <button class="btn btn-sm" (click)="blockFsm(fsm.fsmMobileNo)">Block</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row justify-content-center" *ngIf="showQrCode">
        <img *ngIf="qrCode?.length>0"
          src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chld=L|1&chl={{qrCode}}"
          class="img-responsive"
          alt=""
        />
        <p *ngIf="qrCode?.length===0">No record found!</p>
        <p *ngIf="qrCode===undefined">Invalid!</p>
      </div>

    </div>
  </div>
</div>
