<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <span>Profile</span>
            <hr>
            <div id="DashboadQuickMenuBox">

                <app-card [title]="'Add Customer'" [bodyText]="'Add Customer'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/corporatecustomer/addcustomer'">
                </app-card>

                <app-card [title]="'Verify Customer Profile'" [bodyText]="'Verfiy Corporate Customer'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/corporatecustomer/verifycustomer'">
                </app-card>

                <app-card [title]="'Manage Customer Profile'" [bodyText]="'Manage Customer Profile'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/corporatecustomer/managecustomer'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->