<div class="pt-5">
    <div class="container card shadow">
      <div class="row">
        <div class="col-12 pl-0 pr-0">
          <div class="card shadow-sm p-1 text-white blue-bg">
            <div class="d-flex justify-content-between">
              <div class="align-self-center">
                <span style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;"><strong>
                    Loyalty Configurations</strong></span>
              </div>
              <div>
                <button type="button" class="btn btn-info" routerLink="/admin/addNewLoyalty" [queryParams]="{isEdit:false}">Add New
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 card mb-3">
        <mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8">
          <!-- <ng-container matColumnDef="sno">
              <mat-header-cell *matHeaderCellDef >S.No.</mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{i+1}} </mat-cell>
          </ng-container> -->
        
          <ng-container matColumnDef="slabname">
            <mat-header-cell *matHeaderCellDef >Slab Name </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{row.slabname}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="slabminvalue">
            <mat-header-cell *matHeaderCellDef >Slab Min Value</mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{row.slabminvalue}} </mat-cell>
          </ng-container>
         
          <ng-container matColumnDef="slabmaxvalue">
            <mat-header-cell *matHeaderCellDef > Slab Max Value </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.slabmaxvalue}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="slabearn_points">
            <mat-header-cell *matHeaderCellDef> Slab Earn Points </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.slabearn_points}} </mat-cell>
          </ng-container>

        
          <ng-container matColumnDef="slabearn_points_as_per_rs">
            <mat-header-cell *matHeaderCellDef> Slab Earn Points(₹) </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.slabearn_points_as_per_rs}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="customertype">
            <mat-header-cell *matHeaderCellDef> Customer Type </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.customertype}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="transactiontype">
            <mat-header-cell *matHeaderCellDef> Transaction Type</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.transactiontype}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="typeoflogic">
            <mat-header-cell *matHeaderCellDef>Type Of Logic </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.typeoflogic}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="slabId">
            <mat-header-cell *matHeaderCellDef> Slab Id </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.slabId}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>

            <mat-cell *matCellDef="let element;let i=index" class="text-center">
              <mat-icon style="font-size: 20px;" aria-hidden="false" color="warn" (click)="navigate(element)">edit</mat-icon>
              <mat-icon mat-icon-button style="font-size: 20px;" aria-hidden="false" color="warn" (click)="onDeleteDistrict(i)">delete</mat-icon>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
          *matRowDef="let row;let i=index; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
      </div>
    </div>
  </div>