<div class="container pt-5">
  <div class="card shadow">
    <div class="py-2 px-4 blue-bg text-white">
      <h3 class="text-white m-0">Transaction Details</h3>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between flex-wrap" [formGroup]="transactionDetailsFormGroup">
        <div class="col-lg-6 col-12 d-flex flex-wrap align-items-center mb-3 p-0">
          <label class="required col-md-3 col-12 m-0">From Date:</label>
          <div class="col-md-9 col-12">
            <input type="date" placeholder=""  class="form-control col-lg-9 col-12" formControlName="fromdate"/>
          </div>
        </div>
        <div class="col-lg-6 col-12 d-flex flex-wrap align-items-center mb-3 p-0">
          <label class="required col-md-3 col-12 m-0">To Date:</label>
          <div class="col-md-9 col-12">
            <input type="date" placeholder="" class="form-control col-lg-9 col-12" formControlName="todate"/>            
          </div>
        </div>
        <div class="col-lg-6 col-12 d-flex flex-wrap align-items-center mb-3 p-0">
          <label class="required col-md-5 col-12 m-0">Transaction Type:</label>
          <div class="col-md-5 col-12">
            <select class="form-control maxwidth300" formControlName="transactionTypes">
              <option selected="selected" value="1801">Online Sale</option>
              <option selected="selected" value="1802">Reload</option>
              <option selected="selected" value="1803">Loyalty Sale</option>
              <option selected="selected" value="1804">Loyalty Redeem</option>
              <option selected="selected" value="1805">Tracking</option>
              <option selected="selected" value="1806">Fund Transfer From Card
              </option>
              <option selected="selected" value="1808">Loyalty Balance Enquiry
              </option>
              <option selected="selected" value="1809">CCMS Reload</option>
              <option selected="selected" value="1813">Issue Control Card PIN</option>
              <option selected="selected" value="1814">Issue Fleet Control Card No.
              </option>
              <option selected="selected" value="1815">Issue Web Login Password
              </option>
              <option selected="selected" value="1816">CCMS Recharge Reverse</option>
              <option selected="selected" value="1818">CCMS Recharge</option>
              <option selected="selected" value="1819">CCMS Reload Reverse</option>
              <option selected="selected" value="1820">CCMS Sale</option>
              <option selected="selected" value="1821">Loyalty Reward</option>
              <option selected="selected" value="1822">Issue All Pin Mailer</option>
              <option selected="selected" value="1823">CCMS Debit Adjustment</option>
              <option selected="selected" value="1824">CCMS Transfer Credit</option>
              <option selected="selected" value="1825">CCMS Transfer Debit</option>
              <option selected="selected" value="1826">Drivestars Transfer Credit
              </option>
              <option selected="selected" value="1827">Drivestars Transfer Debit
              </option>
              <option selected="selected" value="1828">Gift Redemptions</option>
              <option selected="selected" value="1829">Gift Redemption Reversal
              </option>
              <option selected="selected" value="1830">DriveStar Expire</option>
              <option selected="selected" value="1831">Card Balance Transfer Credit
              </option>
              <option selected="selected" value="1832">Card Balance Transfer Debit
              </option>
              <option selected="selected" value="1833">Card Fee</option>
              <option selected="selected" value="1834">Card Fee Reverse</option>
              <option selected="selected" value="1835">Loyalty Redeem Reverse</option>
              <option selected="selected" value="1840">Credit Sale</option>
              <option selected="selected" value="1841">Credit Recharge</option>
              <option selected="selected" value="1842">Credit Sale Reversal</option>
              <option selected="selected" value="1843">Credit Recharge Reversal
              </option>
              <option selected="selected" value="1844">Excess Lube Reward Points
                  Reversal</option>
              <option selected="selected" value="1845">Retail Card Fee</option>
              <option selected="selected" value="1846">Retail Card Fee Through EFT
              </option>
              <option selected="selected" value="1847">Card Fee Payment Confirm
              </option>
              <option selected="selected" value="1848">Loyalty Sale Transaction
              </option>
              <option selected="selected" value="1849">Cheque Reload Transaction
              </option>
              <option selected="selected" value="1851">Gift Redeemption Request
                  Through Terminal</option>
              <option selected="selected" value="1852">Auction Security</option>
              <option selected="selected" value="1853">Reverse Auction Security
              </option>
              <option selected="selected" value="1855">Feet Card Fee Payment</option>
              <option selected="selected" value="1856">Dealer Credit Sale</option>
              <option selected="selected" value="1857">Dealer Credit Sale Close
              </option>
              <option selected="selected" value="1858">PAY MERCHANT</option>
              <option selected="selected" value="1859">AuctionPanaltyCollection
              </option>
              <option selected="selected" value="1860">Credit Txn</option>
              <option selected="selected" value="1861">Credit Completion</option>
              <option selected="selected" value="1862">PB Loyality Burn</option>
              <option selected="selected" value="1863">PB Loyality Earn</option>
              <option selected="selected" value="1864">PB Burn Reversal</option>
              <option selected="selected" value="1865">PB Earn Reversal </option>
              <option selected="selected" value="1866">Reversal</option>
              <option selected="selected" value="1867">Automation Reversal Transaction
              </option>
              <option selected="selected" value="1868">FASTagWallet</option>
              <option selected="selected" value="1869">LPG Paycode Sale</option>
              <option selected="selected" value="1870">HP Tap &amp; Pay Sale</option>
              <option selected="selected" value="1871">HP Tap &amp; Pay Sale Reversal
              </option>
              <option selected="selected" value="1872">Pre Auth Sale</option>
              <option selected="selected" value="1873">Pre Auth Sale Reversal</option>
          </select>      
          </div>
        </div>
      
      </div>
      <div class="d-flex justify-content-center col-12 mt-2">
        <div class="mr-3">
          <button class="btn btn-sm btn-primary" (click)="onSearchButtonClick()">Search</button>
        </div>
        <div class="mr-3">
          <button class="btn btn-sm btn-primary" (click)="Reset()">Reset</button>
        </div>
        <div class="mr-1" *ngIf="showSettlementDetails">
          <button class="btn btn-sm btn-primary" (click)="exportAsXLSX()">Export to Excel</button>
        </div>
      </div>
      <div style="overflow-x: auto;" *ngIf="showSettlementDetails">
        <br>
        <table class="GridBorder table" cellspacing="0" rules="all" border="1" style="width:1200px;border-collapse:collapse;overflow-x: scroll;">
          <tbody>
            <tr>
              <th class="th"> S.No</th>
              <td class="th"> Terminal Id</td>
              <td class="th"> Merchant Name</td>
              <td class="th"> Batch Id</td>
              <td class="th"> ROC</td>
              <!-- <td class="th"> Account No</td>
              <td class="th"> Vechile No</td> -->
              <td class="th"> Txn Date</td>
              <td class="th"> Txn Type</td>
              <td class="th"> Product</td>
              <td class="th"> Price</td>
              <td class="th"> Volume</td>
              <td class="th"> Currency</td>
              <td class="th"> Service Charge</td>
              <td class="th"> Amount</td>
              <td class="th"> Discount</td>
              <td class="th"> Odometer Reading</td>
              <td class="th"> Status</td>
            </tr>
            <tr *ngFor="let mappingDetails of searchTrasactionsTableData;let i=index">
              <td class="td" class="td">{{i+1}}</td>
              <td class="td">{{mappingDetails.merchant_Id}}</td>
              <td class="td">{{mappingDetails.merchant_Name}}</td>
              <td class="td">{{mappingDetails.batchId}}</td>
              <td class="td">{{mappingDetails.roc}}</td>
              <!-- <td class="td">{{mappingDetails.accountNo}}</td>
              <td class="td">{{mappingDetails.vechileNo}}</td> -->
              <td class="td">{{mappingDetails.txnDate}}</td>
              <td class="td">{{mappingDetails.txnType}}</td>
              <td class="td">{{mappingDetails.product}}</td>
              <td class="td">{{mappingDetails.price}}</td>
              <td class="td">{{mappingDetails.volume}}</td>
              <td class="td">{{mappingDetails.currency}}</td>
              <td class="td">{{mappingDetails.serviceCharge}}</td>
              <td class="td">{{mappingDetails.amount}}</td>
              <td class="td">{{mappingDetails.discount}}</td>
              <td class="td">{{mappingDetails.odometerReading}}</td>
              <td class="td">{{mappingDetails.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
