<div class="container pt-5">
  <div class="card shadow">
    <div class="card-header p-2 blue-bg text-white">
      <strong class="balanceinfo">Settlement Details</strong>
    </div>

    <div class="card-body">
      <div class="row">
        <span class="required xs-2 align-self-center">Merchant ID:</span>
        <div class="form-group xs-2 align-self-center">
          <input type="text" class="form-control" />
        </div>
        <span class="required xs-2 align-self-center">From Date:</span>
        <div class="form-group xs-2 align-self-center">
          <input type="date" class="form-control" />
        </div>
        <span class="required xs-2 align-self-center">To Date:</span>
        <div class="form-group xs-2 align-self-center">
          <input type="date" class="form-control" />
        </div>
      </div>
      <div class="d-flex flex-row justify-content-end">
        <div class="mr-3">
          <button class="btn btn-primary">Search</button>
        </div>
        <div class="mr-3">
          <button class="btn btn-primary">Reset</button>
        </div>
        <div class="mr-3">
          <button class="btn btn-primary">Export to Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>
