<div class="container pt-3">
    <div class="py-2">
        <h3 class="text_primary m-0 font-weight-bold">Change Password</h3>
      </div>
      <div class="bg-white mt-3 py-4 px-3">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="d-flex align-items-center justify-content-start flex-wrap">
                <div class="d-flex align-items-center justify-content-start flex-wrap px-0 w-100">
                    <label class="required font-weight-bold col-lg-3 col-12 mb-3">Old Password</label>
                    <div class="col-lg-5 col-12 mb-3">
                        <input type="text" placeholder="Current Password" name="oldpasswordinput" [(ngModel)]="changePasswordModel.oldpassword" autocomplete="nope" class="form-control login_input br-14 bg-grey">
                    </div>
                </div>
                    <div class="d-flex align-items-center justify-content-start flex-wrap px-0 w-100">
                        <label class="required font-weight-bold col-lg-3 col-12 mb-3">New Password</label>
                        <div class="col-lg-5 col-12 mb-3">
                            <input type="password" placeholder="New Password" name="newpasswordinput" [(ngModel)]="changePasswordModel.newpassword" autocomplete="nope" class="form-control login_input br-14 bg-grey">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start flex-wrap px-0 w-100">
                        <label class="required font-weight-bold col-lg-3 col-12 mb-3">Confirm Password</label>
                        <div class="col-lg-5 col-12 mb-3">
                            <input type="password" placeholder="Confirm Password" name="confirmpasswordinput" (change)="handleConfirmPasswordChange($event.target.value)" class="form-control login_input br-14 bg-grey">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start flex-wrap w-100 mt-3">
                        <label class="font-weight-bold col-lg-3 col-12 mb-3">&nbsp;</label>
                        <div class="col-lg-5 col-12 mb-3 d-flex align-items-center justify-content-center flex-wrap">
                            <div class="px-3 mb-3 col-md-6 col-12">
                                <button class="btn bg_primary form_btn text-white rounded-30 px-3 d-flex align-items-center justify-content-center w-100" (click)="handleSubmit()">
                                    <span class="mr-2">Submit</span>
                                    <img src="assets/images/refresh_icon.svg" class="btn_icon" alt="">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div class="col-12 col-sm-5 mt-3">
                            <a href="#" class="d-block p-2 text-center border-1 br-14 text-dark text-decoration-none">
                                <img src="assets/images/google_icon.png" alt="">
                            </a>
                        </div>
                        <div class="col-12 col-sm-5 mt-3">
                            <a href="#" class="d-block p-2 text-center border-1 br-14 text-dark text-decoration-none">
                                <img src="assets/images/fb_icon.png" alt="">
                            </a>
                        </div>
                    </div>
            </div>
            <div class="col-md-6 d-md-block d-none p-3 ">
                <img src="assets/images/login_img.jpg" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </div>