<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Hotlist/Reactivate'"
                    [bodyText]="'Hotlist Customer/Card/ Merchant/Terminal and Reactivate'"
                    [imageIcon]="'assets/images/maagesecurity.png'" [routingLinkUrl]="'/admin/hotlistreactive'">
                </app-card>

                <app-card [title]="'View Hotlisted/Reactivated Data'"
                    [bodyText]="'View Hotlisted/ Reactivated Customer/ Card/Merchant/Terminal'"
                    [imageIcon]="'assets/images/HotlistedData.png'"
                    [routingLinkUrl]="'/admin/Viewhotlistedreactivateddata'">
                </app-card>

                <app-card [title]="'Hotlist Approval'"
                    [bodyText]="'View Hotlisted/ Reactivated Customer/ Card/Merchant/Terminal'"
                    [imageIcon]="'assets/images/card-detail.png'" [routingLinkUrl]="'/admin/hotlistapproval'">
                </app-card>

                <app-card [title]="'Bulk Hotlist'"
                    [bodyText]="'View Hotlisted/ Reactivated Customer/ Card/Merchant/Terminal'"
                    [imageIcon]="'assets/images/card-detail.png'" [routingLinkUrl]="'/admin/bulkhotlist'">
                </app-card>
            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->