.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .matpadding{
    padding-right: 20%;
  }
  .textdes{
    -webkit-text-stroke-width: thin;
  }
  html,
  body {
    height: 130%;
  }

  label{
    /* font-size: 14px !important; */
    margin-top: 30px;
  }

  mat-form-field{
      width: 290px;
      height: 48px;
  }