<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">

            <div id="DashboadQuickMenuBox">
                
                <app-card [title]="'Manage Bank Enrollment'"
                    [bodyText]="'  Manage Bank Enrollment'"
                    [imageIcon]="'assets/images/Retail Customer.png'" [routingLinkUrl]="'/admin/fastag/managebankenrolment'">
                </app-card>

            

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->