<div class="container pt-5">
    <div class="card shadow">
      <div class="card-header p-2 blue-bg text-white">
        <strong class="balanceinfo">Settlement Details</strong>
      </div>
      
      <div class="card-body" >
                    <table class="w-50" [formGroup]="settlementDetailsFormGroup">
                        <tr>
                            <td>
                            </td>
                            <td align="left">
                               
                              <div class="radio">
                                  <label class="mr-3"><input type="radio" id='regular' name="optradio" value="" checked="checked">Merchant</label>
                              </div>
                             
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">Merchant ID</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="text" class="form-control" formControlName="merchantId" maxlength="10" minlength="10">   
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">From Date</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="date" class="form-control" formControlName="fromDate">   
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">To Date</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="date" class="form-control" formControlName="toDate">   
                                </div>
                            </td>
                        </tr>



                        <tbody>

                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="onSearchButtonClick()">Search</button>
                                        </div>
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="Reset()">Reset</button>
                                        </div>
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Export to Excel</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="overflow-x: auto;" *ngIf="showSettlementDetails">
                        <table class="GridBorder" cellspacing="0" rules="all" border="1" style="width:1200px;border-collapse:collapse;overflow-x: scroll;">
                          <tbody>
                            <tr>
                              <th> S.No</th>
                              <th> terminal_Id</th>
                              <th> batch_Id</th>
                              <th> batch_Status</th>
                              <th> settlement_Date</th>
                              <th> no_Of_Transactions</th>
                            </tr>
                            <tr *ngFor="let mappingDetails of searchTrasactionsTableData;let i=index">
                              <td>{{i+1}}</td>
                              <td>{{mappingDetails.terminal_Id}}</td>
                              <td>{{mappingDetails.batch_Id}}</td>
                              <td>{{mappingDetails.batch_Status}}</td>
                              <td>{{mappingDetails.settlement_Date}}</td>
                              <td>{{mappingDetails.no_Of_Transactions}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div> 
                </div>
    </div>
  </div>

  
