<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Balance Info'"
                    [bodyText]="'View Customer Wise and Card Wise Balances'"
                    [imageIcon]="'assets/images/balance_user_info.png'" [routingLinkUrl]="'/admin/HPPayCustomer/balanceinfo'">
                </app-card>

                <app-card [title]="'Transaction Details'"
                    [bodyText]="'View Transaction Details of Customer or Card'"
                    [imageIcon]="'assets/images/custmer-detail.png'"
                    [routingLinkUrl]="'/admin/HPPayCustomer/transactiondetail'">
                </app-card>

                 <app-card [title]="'View Account Statement'"
                    [bodyText]="'View the Transaction Statement of Customer'"
                    [imageIcon]="'assets/images/view-statement.png'" [routingLinkUrl]="'/admin/HPPayCustomer/viewaccountstatement'">
                </app-card>

                <!-- <app-card [title]="'Download Account Statement'"
                    [bodyText]="'Download the Monthly and Quarterly Transaction Statements'"
                    [imageIcon]="'assets/images/view-statement.png'"
                    [routingLinkUrl]="'/admin/HPPayCustomer/downloadaccountstatement'">
                </app-card> -->

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->