<div class="container pt-5">
    <div class="card shadow">
      <div class="card-header p-2 blue-bg text-white title">
        <strong class="tran-det">Transaction Detail</strong>
        <strong class = "help" style="cursor: pointer;" (click)="open(help)">Help</strong>
      </div>
      
      <div class="card-body">
                    <table class="w-50" [formGroup]="transactionDetailFormGroup">
                        <tr>
                            <td>
                                <span class="required">Mobile No</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="text" maxlength="10" minlength="10" class="form-control" formControlName="mobile_No">   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="required">From Date</span>:
                            </td>
                            <td align="left">
                               
                              <div class="form-group">
                                  <input type="date" class="form-control" formControlName="from_Date">
                              </div>
                             
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="required">To Date</span>:
                            </td>
                            <td align="left">
                               
                              <div class="form-group">
                                  <input type="date" class="form-control" formControlName="to_Date">
                              </div>
                             
                            </td>
                        </tr>


                        <tbody>

                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="onSearchButtonClick();">Search</button>
                                        </div>
                                       <div class="mr-3">
                                            <button class="btn btn-primary">Export to Excel</button>
                                        </div>
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Export to PDF</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" (click)="Reset();">Reset</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

  
      </div>
      <div class="card-body" *ngIf="isshow==1">
      <fieldset class="form-group border px-3 pt-0">
        <legend class="w-auto px-2" style="font-size: 12px;">Summary of Transactions</legend>
        <mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8">
          <!-- <ng-container matColumnDef="sno">
              <mat-header-cell *matHeaderCellDef >S.No.</mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{i+1}} </mat-cell>
          </ng-container> -->
          <!-- ['sno','merchantid','batchid_roc', 'transaction_Date','transaction_type',
          'product','price', 'vol_in_ltr','serviceCharge','amount'] -->
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef >S.No. </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{i+1}}. </mat-cell>
          </ng-container>
          <ng-container matColumnDef="merchantid">
            <mat-header-cell *matHeaderCellDef >Merchant ID</mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{row.merchantid}} </mat-cell>
          </ng-container>
         
          <ng-container matColumnDef="batchid_roc">
            <mat-header-cell *matHeaderCellDef > BatchID / ROC </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.batchid_roc}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="transaction_Date">
            <mat-header-cell *matHeaderCellDef> Txn Date </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.transaction_Date}} </mat-cell>
          </ng-container>
    
        
          <ng-container matColumnDef="transaction_type">
            <mat-header-cell *matHeaderCellDef> Txn Type </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.transaction_type}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="product">
            <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.product}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.price}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vol_in_ltr">
            <mat-header-cell *matHeaderCellDef>Volume (Ltr.) </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.vol_in_ltr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="serviceCharge">
            <mat-header-cell *matHeaderCellDef> Service Charge </mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center"> {{row.serviceCharge}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
    
            <mat-cell *matCellDef="let element;let i=index" class="text-center">
              <mat-cell *matCellDef="let row" class="text-center"> {{row.amount}} </mat-cell>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
          *matRowDef="let row;let i=index; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
             
              <p>** Service tax included in service charge.</p>
         
           </fieldset>
         
           </div>
    </div>
  </div>

  <ng-template #help let-modal>
  <div class="modal-header blue-bg">
    <h4 class="modal-title text-white" id="modal-basic-title">Transaction Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="text-white">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <p>Select <b>Date Range</b> and click <b>Search</b>.</p>
                            <br>
                            <p>Select <b>Transaction Types</b> like CCMS Sale, CCMS Reload etc. to get the details for the selected transactions.</p>
                            <br>
                            <p>To get the transaction details for particular card, select radio button <b>Card Number</b> and Card Number from dropdown list. </p>
                            <br>
                            <p>To get the transaction details for mapped card, select radio button <b>Mobile Number</b> and Mobile Number from dropdown list. </p>
                            <br>
                            <p>To get the details in excel or pdf then click on <b>Export to Excel</b> and <b>Export to PDF</b>.</p>
                            <br>
        
      </div>
    </form>
  </div>
 
</ng-template>


