<div class="profile-heading">
    <h2 style="padding-top: 14px;
    padding-left: 14px;">Details</h2>
    </div>
<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
<mat-step label="Basic Information">
<div class="form">
<div class="row">
    <div class="col-4">
        <span><span class="required">Retail Outlet Name
        </span>:</span>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="merchantDetails.outletName" required>
    </div>
</div>
<div class="row">
  <div class="col-4">
      <span><span class="required">Dealer Name
      </span>:</span>
  </div>

  <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="merchantDetails.dealer_name" required>
  </div>
</div>

</div>
</mat-step>
<mat-step label="Retail Outlet Address">
    <div class="form">
        <div class="row">
            <div class="col-4">
                <span><span class="required">State
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_State" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">City
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_City" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">District
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_District" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">Address 1
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_Address1" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">Address 2
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_Address2" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">Address 3
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_Address3" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">Pin
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_PIN_Code" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">Phone Office
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_Ph_Off" required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span><span class="required">Fax
                </span>:</span>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="merchantDetails.perm_fax" required>
            </div>
        </div>
          </div>
</mat-step>
<mat-step label="Business Details">
    <div class="row">
        <div class="col-4">
            <span><span class="required">Zonal Office
            </span>:</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="merchantDetails.zonal_Office"   required>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span><span class="required">Regional Office
            </span>:</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="merchantDetails.regional_Office" required>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span><span class="required">ERP Code
            </span>:</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="merchantDetails.erP_Code" required>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span><span class="required">Sales Area
            </span>:</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="merchantDetails.salesArea" required>
        </div>
    </div>

</mat-step>
<mat-step label="Contact Person Details">
    <div class="row">
        <div class="col-4">
            <span><span class="required">Name
            </span>:</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="merchantDetails.name" required>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span><span class="required">Mobile
            </span>:</span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="merchantDetails.mobile" required>
        </div>
    </div>

    <div class="row">
      <div class="col-4">
          <span><span class="required">Mobile
          </span>:</span>
      </div>

      <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="merchantDetails.email" required>
      </div>
  </div>
</mat-step>
</mat-horizontal-stepper>
<div>

</div>


