<div class="container pt-5">
    <div class="card shadow">
        <div class="card-header p-2 blue-bg text-white">
            <strong class="balanceinfo">Lubes Order Detail</strong>
        </div>

        <div class="card-body">
            <table class="w-100">
                <tbody>
                    <tr>
                        <td width="50%" valign="top">
                            <div>
                                <fieldset class="form-group border px-3 pt-0">
                                    <legend class="w-auto px-2" style="font-size: 12px;">Product Information</legend>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td width="25%" class="SolidLabel">Order Ref Number :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblOrderNumber">{{orderDetailsData?.awB_No}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="15%" class="SolidLabel">Product Name :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblProductName" class="HighlitedLabel">{{orderDetailsData?.product_Name}}</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td class="SolidLabel">Size:
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblSize" class="HighlitedLabel">900.00 ml</span>
                                                </td>
                                            </tr> -->
                                            <tr>
                                                <td class="SolidLabel">Quantity:
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblQuantity">{{orderDetailsData?.quantity}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="SolidLabel">Amount :
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblAmount">{{orderDetailsData?.total_Amount}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="SolidLabel">Discount Amount :
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblDiscountAmount">{{orderDetailsData?.discount}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="SolidLabel">Net Amount :
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblNetAmount">{{orderDetailsData?.net_Amount}}</span>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </fieldset>
                            </div>
                            <div>
                                <fieldset class="form-group border px-3 pt-0">
                                    <legend class="w-auto px-2" style="font-size: 12px;">Transaction Details</legend>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td width="25%" class="SolidLabel">Transaction Status :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblTransactionStatus"
                                                        class="HighlitedLabel">{{orderDetailsData?.payment_Status}}</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td width="15%" class="SolidLabel">Transaction Date : </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblTransactionDate">04/06/2021 09:00 AM</span>
                                                </td>
                                            </tr> -->
                                            <tr>
                                                <td class="SolidLabel">Payment Mode :
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblPaymentMode">{{orderDetailsData?.payment_Mode}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="SolidLabel">Raw Transaction Id :
                                                </td>
                                                <td>
                                                    <span id="ctl00_phM_lblRawTransactionId">{{orderDetailsData?.transaction_Id}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        </td>
                        <td width="50%" valign="top">
                            <div>
                                <fieldset class="form-group border px-3 pt-0">
                                    <legend class="w-auto px-2" style="font-size: 12px;">Delivery Details</legend>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td width="15%" class="SolidLabel">Name :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblName">{{orderDetailsData?.customer_Name}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="15%" class="SolidLabel">Address :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblAddress1"
                                                        style="display:inline-block;width:431px;">{{orderDetailsData?.customer_Address}}</span><br>
                                                    <!-- <span id="ctl00_phM_lblAddress2"
                                                        style="display:inline-block;width:431px;"></span> -->
                                                </td>
                                            </tr>

                                            <tr>
                                                <td width="15%" class="SolidLabel">Pincode :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblPincode">{{orderDetailsData?.customer_Pincode}}</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>

                                                <td width="15%" class="SolidLabel">District :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblDistrict">GHAZIABAD</span>
                                                </td>
                                            </tr> -->
                                            <tr>
                                                <td width="15%" class="SolidLabel">State :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblState">{{orderDetailsData?.customer_State}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="15%" class="SolidLabel">Mobile :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblMobile"
                                                        class="HighlitedLabel">{{this?.mobileNumber}}</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td width="15%" class="SolidLabel">Email :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblEmail">air@gmail.com</span>
                                                </td>
                                            </tr> -->
                                            <tr>
                                                <td width="15%" class="SolidLabel">Delivery Status :
                                                </td>
                                                <td width="65%">
                                                    <span id="ctl00_phM_lblDeliveryStatus">{{orderDetailsData?.order_Status}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                            <div>
                                <fieldset class="form-group border px-3 pt-0">
                                    <legend class="w-auto px-2" style="font-size: 12px;">Merchant Details</legend>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td width="25%" class="SolidLabel">Merchant Code :
                                                </td>
                                                <td class="auto-style1">
                                                    <span id="ctl00_phM_lblMerchantCode" class="txtnormal170"
                                                        maxlength="30">{{orderDetailsData?.merchant_Id}}</span>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td width="16%" class="SolidLabel">Merchant Name :
                                                </td>
                                                <td class="auto-style1">
                                                    <span id="ctl00_phM_lblMerchantName" class="txtnormal170"
                                                        maxlength="30">RISHABH ENTERPRISES</span>
                                                </td>
                                            </tr> -->

                                        </tbody>
                                    </table>
                                </fieldset>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td width="50%" valign="top" colspan="2">
                            <div>
                                <fieldset class="form-group border px-3 pt-0">
                                    <legend class="w-auto px-2" style="font-size: 12px;">Lube Order History</legend>
                                    <table class="table table-striped table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">Order Ref Number</th>
                                                <th scope="col">Order Status</th>
                                                <th scope="col">Action Date</th>
                                                <th scope="col">Action Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of GetSavedData; index as i">


                                                <td>{{ data.awB_No }}</td>
                                                <td>{{ data.order_Status}}</td>
                                                <td>{{ data.date}}</td>
                                                <td>{{ data.remarks}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </fieldset>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td width="50%" valign="top" colspan="2">
                            <div>
                                <fieldset class="form-group border px-3 pt-0">
                                    <legend class="w-auto px-2" style="font-size: 12px;">Replacement Details</legend>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td width="15%" class="SolidLabel">Image :
                                                </td>
                                                <td class="style4" width="83%">

                                                    <!-- <img id="ctl00_phM_imgReplacement1" class="txtnormal170"
                                                        src="http://localhost:51054/images/LubeReplacementImage/1011756507/682_202106041139020.png"
                                                        style="height:150px;width:150px;border-width:0px;">
                                                    <img id="ctl00_phM_imgReplacement2" class="txtnormal170"
                                                        src="http://localhost:51054/images/LubeReplacementImage/1011756507/682_202106041139027.png"
                                                        style="height:150px;width:150px;border-width:0px;"> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="25%" class="SolidLabel">Replacement Request Comment :
                                                </td>
                                                <td width="83%" class="style4">
                                                    <span id="ctl00_phM_lblReplacementReqComment" class="txtnormal170"
                                                        maxlength="500">{{orderDetailsData?.remarks}} </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="15%" class="SolidLabel">Approve/Reject Comment <span
                                                        class="error">*</span> :

                                                </td>
                                                <td width="83%" class="style4">
                                                    <textarea name="ctl00$phM$txtComment" rows="2" cols="20"
                                                        id="ctl00_phM_txtComment" class="form-control"
                                                         disabled="disabled"
                                                        style="height:50px;width:300px;"></textarea>
                                                    <!-- <span id="ctl00_phM_cvComments" title="Please Enter Comment"
                                                        style="color:Red;display:none;">
                                                        <img src="../includes/images/error.png" alt="">
                                                    </span>
                                                    <span id="ctl00_phM_rgtxtComment"
                                                        title="Comment Can't exceed 250 characters"
                                                        style="color:Red;display:none;"><img align="middle"
                                                            src="../includes/images/error.png"></span> -->
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </fieldset>

                            </div>
                        </td>

                    </tr>


                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-body">



        </div>
    </div>
</div>