<div class="container pt-5">
    <div class="card shadow">
      <div class="card-header p-2 blue-bg text-white">
        <strong class="balanceinfo">Receivable - Paybale Details</strong>
      </div>
      
      <div class="card-body">
                    <table class="w-50">
                        <tr>
                            <td>
                            </td>
                            <td align="left">
                               
                              <div class="radio">
                                  <label class="mr-3"><input type="radio" id='regular' name="optradio" value="" checked="checked">Merchant</label>
                              </div>
                             
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">Merchant ID</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="text" class="form-control">   
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">From Date</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="date" class="form-control">   
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">To Date</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="date" class="form-control">   
                                </div>
                            </td>
                        </tr>



                        <tbody>

                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Search</button>
                                        </div>
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Reset</button>
                                        </div>
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Export to Excel</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
  </div>

  
