<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5 p-0">
                <div class="card-header text-white" style="background-color:  #084594;">
                    Hotlisted/Hotlist Approval
                </div>
                <div class="card-body">
                    <table class="w-50">
                        <tr>
                            <td>
                                <span class="required">Entity Type</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option value="select">select</option>
                                        <option value="Customer">Customer</option>
                                        <option value="Merchant">Merchant</option>
                                    </select>
                                </div>
                            </td>
                        </tr>


                        <tbody>

                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Download Sample excel File</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary">Upload Excel File</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>