<div class="container-fluid">
    <div class="container">
        <div class="row mb-5 pb-5">
            <div class="col-12">
                <div class="card mt-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                         <strong class="down-stat">View Earning Break-up</strong>
                    </div>
                    <div class="card-body">
                        <table class="w-50" [formGroup]="viewEarningBreakupFormGroup">
                            <tr>
                                <td width="40%">
                                    <span class="required">Merchant ID</span>:
                                </td>
                                   <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="merchantid" maxlength="10" minlength="10">
                                        </div>
                                    </td>
                            </tr>
                            <tr>
                                <td width="40%">
                                    <span class="required">Transaction Type</span>:
                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <select class="form-control"  formControlName="transactiontype">
                                            <ng-container *ngFor="let entity of get_any_entity_type_list">
                                                <option [value]="entity.type_name" >{{entity.type_name}}
                                                </option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td width="40%">
                                    <span class="required">From  Date</span>:
                                </td>
                                <td align="left">
                                        <div class="form-group">
                                            <input type="date" class="form-control" formControlName="fromDate">
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%">
                                    <span class="required">To  Date</span>:
                                </td>
                                <td align="left">
                                        <div class="form-group">
                                            <input type="date" class="form-control" formControlName="toDate">
                                        </div>
                                </td>
                            </tr>
                            <tbody>
                                                                
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        <div class=" d-flex flex-row justify-content-end">
                                            <div class="mr-3">
                                                <button class="btn btn-primary" (click)="onSearchButtonClick()">Search</button>
                                            </div>
                                            <div class="mr-3">
                                                <button class="btn btn-primary">Export to Excel</button>
                                            </div>
                                            <div class="mr-3">
                                                <button class="btn btn-primary" (click)="onResetButtonClick()">Reset</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 