.required::after {
    content: "*";
    color: red;
  }
  .maxwidth300{
    max-width: 300px
  }
  
  .ActiveTabs {
      text-decoration: none;
      color: #000;
      border: 1px solid #dfdfdf;
      background: #dfdfdf;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      font-family: arial;
      font-size: 11px !important;
      padding: 5px 11px;
  }
  .TabsDisabled {
      color: #000;
      text-decoration: none;
      border: 1px solid #dfdfdf;
      background: #bdd4ec;
      font-size: 11px;
      font-weight: 700;
      text-align: center;
      padding: 5px 11px;
  }
  