<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">

            <div id="DashboadQuickMenuBox">
                
                <app-card [title]="'Download Retail Outlet List'"
                    [bodyText]="'Download Retail Outlet List'"
                    [imageIcon]="'assets/images/ListofRetailOutlets.jpg'" [routingLinkUrl]="'/admin/download/advancedownload'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->