<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div class="SectionHead">
            Office Locations</div>
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Head  Office'"
                    [bodyText]="'Update Head Quarter Office'"
                    [imageIcon]="'assets/images/HeadQuarterOffice.png'" [routingLinkUrl]="'/admin/headquarteroffice'">
                </app-card>

                <app-card [title]="'Zonal Offices'"
                    [bodyText]="'Add/Update/Delete Zonal Office'"
                    [imageIcon]="'assets/images/ZonalOffice.png'"
                    [routingLinkUrl]="'/admin/Zonalofficedetails'">
                </app-card>

                <app-card [title]="'Regional Offices'"
                    [bodyText]="'Add/Update/Delete Regional Office'"
                    [imageIcon]="'assets/images/RegionalOffice.png'" [routingLinkUrl]="'/admin/regionalofficedetail'">
                </app-card>
                <br clear="all">

                <div class="Group">
                <div class="SectionHead">
                    Geographical Locations</div>
                <app-card [title]="'Country Regions'"
                    [bodyText]="'Add/Update/Delete Country Region'"
                    [imageIcon]="'assets/images/CountryRegion.png'" [routingLinkUrl]="'/admin/countryregiondetail'">
                </app-card>
                <app-card [title]="'State'"
                    [bodyText]="'Add/Update/Delete State'"
                    [imageIcon]="'assets/images/State.png'" [routingLinkUrl]="'/admin/statedetail'">
                </app-card>
                <app-card [title]="'District'"
                    [bodyText]="'Add/Update/Delete District'"
                    [imageIcon]="'assets/images/District.png'" [routingLinkUrl]="'/admin/districtdetail'">
                </app-card>
                <app-card [title]="'City'"
                    [bodyText]="'Add/Update/Delete City'"
                    [imageIcon]="'assets/images/City.png'" [routingLinkUrl]="'/admin/citydetails'">
                </app-card>
                </div>
            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->