<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Manage Offers And Promotion'"
                    [bodyText]="'Manage Offers Add And Edit'"
                    [imageIcon]="'assets/images/CustomerFeedBack.png'" [routingLinkUrl]="'/admin/HPPayCustomer/offers'">
                </app-card>

                <app-card [title]="'View Offers And Promotion'"
                    [bodyText]="'View Offers And Promotion View'"
                    [imageIcon]="'assets/images/CustomerFeedBack.png'"
                    [routingLinkUrl]="'/admin/HPPayCustomer/createoffers'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->