<div class="container-fluid">
    <div class="container">
        <div class="row mb-5 pb-5">
            <div class="col-12">
                <div class="card mt-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                         <strong class="down-stat">Day-Wise Merchant Earning Data</strong>
                    </div>
                    <div class="card-body">
                        <table class="w-50">
                            <tr>
                                <td width="40%">
                                    <span class="required">Merchant ID</span>:
                                </td>
                                   <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                            </tr>
                            
                            <tr>
                                <td width="40%">
                                    <span class="required">From  Date</span>:
                                </td>
                                <td align="left">
                                        <div class="form-group">
                                            <input type="date" class="form-control">
                                        </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%">
                                    <span class="required">To  Date</span>:
                                </td>
                                <td align="left">
                                        <div class="form-group">
                                            <input type="date" class="form-control">
                                        </div>
                                </td>
                            </tr>
                            <tbody>
                                                                
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        <div class=" d-flex flex-row justify-content-end">
                                            <div class="mr-3">
                                                <button class="btn btn-primary">Search</button>
                                            </div>
                                            <div class="mr-3">
                                                <button class="btn btn-primary">Export to Excel</button>
                                            </div>
                                            <div class="mr-3">
                                                <button class="btn btn-primary">Reset</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 