<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">

                <app-card [title]="'Manage Users'"
                    [bodyText]="'Create and Manage New Users and Assign the Required Roles'"
                    [imageIcon]="'assets/images/maagesecurity.png'" [routingLinkUrl]="'/admin/manageuser'">
                </app-card>

                <app-card [title]="'Manage Roles'" [bodyText]="'Create and Manage Custom Roles'"
                    [imageIcon]="'assets/images/mime_txt.png'" [routingLinkUrl]="'/admin/managerole'">
                </app-card>
            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>