<div class="popup">
    <!-- <div class="header">
        <h2 mat-dialog-title>
            {{ data.original_title }}
        </h2>
        <button class="mat-raised-button" (click)="onDismiss()">Close</button>
    </div> -->
    <mat-dialog-content>
        <div class="img-wrapper">
            <img 
                src="http://180.179.222.161/hpp/Upload_Document/Upload_KYC/{{ data.image}}" 
                alt="backdrop-img" 
                class="backdrop-img" width="1100" height="700" align="center"
            >
        </div>
        <!-- <div class="content">
            <p> {{ data.release_date }} </p>
            <p> {{ data.overview }} </p>
        </div> -->
    </mat-dialog-content>
    <!-- <mat-dialog-content>
        <div class="recommendations">
    
        </div>
    </mat-dialog-content> -->