<div class="container pt-3">
    <div class="py-2">
      <h3 class="text_primary m-0 font-weight-bold">Financial - View Earning Break-up</h3>
    </div>
    <div class="bg-white mt-3 py-4 px-3">
        <div class="card-body p-0">
            <div class="d-flex align-items-center justify-content-between flex-wrap" [formGroup]="viewEarningBreakupFormGroup">
                    <div class="d-flex align-items-center justify-content-start w-100 flex-wrap">
                        <label class="required font-weight-bold col-lg-3 col-12 mb-3">Transaction Type</label>
                        <div class="col-lg-5 col-12 mb-3">
                            <select class="form-control bg-grey" formControlName="transactiontype">
                                <ng-container *ngFor="let entity of get_any_entity_type_list">
                                    <option [value]="entity.type_name">{{entity.type_name}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start w-100 flex-wrap">
                        <label class="required font-weight-bold col-lg-3 col-12 mb-3">From Date</label>
                        <div class="col-lg-5 col-12 mb-3">
                            <input type="date" class="form-control bg-grey" formControlName="fromDate">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start w-100 flex-wrap">
                        <label class="required font-weight-bold col-lg-3 col-12 mb-3">To Date</label>
                        <div class="col-lg-5 col-12 mb-3">
                            <input type="date" class="form-control bg-grey" formControlName="toDate">
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-start w-100 flex-wrap w-100 mt-3">
                        <label class="col-lg-3  col-12 mb-3"> &nbsp;</label>
                        <div class="col-lg-5 col-12 mb-3 d-flex align-items-center justify-content-center flex-wrap">
                            <div class="px-3 mb-3 col-md-6 col-12">
                                <button class="btn bg_primary form_btn text-white rounded-30 px-3 d-flex align-items-center justify-content-center w-100" (click)="onSearchButtonClick()">
                                    <span class="mr-2">Search</span>
                                    <img src="assets/images/search_icon.svg" class="btn_icon" alt="">
                                </button>
                            </div>
                            <div class="px-3 mb-3 col-md-6 col-12">
                                    <button class="btn bg_primary form_btn text-white rounded-30 px-3 d-flex align-items-center justify-content-center w-100" (click)="onResetButtonClick()">
                                        <span class="mr-2">Reset</span>
                                        <img src="assets/images/refresh_icon.svg" class="btn_icon" alt="">
                                    </button>
                            </div>
                       </div>
                    </div>
                    </div>
                    <div class="d-flex justify-content-end col-12 mt-4">
                        <div class="mr-1" *ngIf="showSettlementDetails">
                          <button class="btn bg_primary form_btn text-white rounded-30 px-3 d-flex align-items-center justify-content-center w-100" (click)="exportAsXLSX()">
                            <span class="mr-2">Export to Excel</span>
                            <img src="assets/images/xlsx_export_icon.png" class="btn_icon" alt="">
                            </button>
                        </div>
                      </div>
                    <div class="card-body" *ngIf="showSettlementDetails">
                        <mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8 table_layout">
                            <ng-container matColumnDef="sno">
                                <mat-header-cell *matHeaderCellDef>S.No.</mat-header-cell>
                                <mat-cell *matCellDef="let row;let i = index" class="text-center"> {{i+1}}. </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="customer_Id">
                                <mat-header-cell *matHeaderCellDef>Customer Id </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.customer_Id}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="customer_Name">
                                <mat-header-cell *matHeaderCellDef>Customer Name </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.customer_Name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="earningAmt">
                                <mat-header-cell *matHeaderCellDef> Earning Amount </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.earningAmt}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="sale_Amt">
                                <mat-header-cell *matHeaderCellDef>Sale Amount </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.sale_Amt}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="slab">
                                <mat-header-cell *matHeaderCellDef>Slab </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.slab}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="transactionDate">
                                <mat-header-cell *matHeaderCellDef> Transaction Date </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.transactionDate}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="transactionSource">
                                <mat-header-cell *matHeaderCellDef>Transaction Source </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.transactionSource}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="transactionType">
                                <mat-header-cell *matHeaderCellDef> Transaction Type </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="text-center"> {{row.transactionType}} </mat-cell>
                            </ng-container>




                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>
                    </div>
            </div>
        </div>
    </div>