.example-container {
    height: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  .toggleBtn {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 100;
}
  .example-sidenav-content {
    display: flex;
    height: 100%;
    /* align-items: center;
    justify-content: center; */
  }
  .subItem {
    padding-left: 20px !important;
  }
  .example-sidenav {
     user-select: none;
     visibility: visible;
     overflow: visible;
     border: none !important;
     background: #1e407d !important;  
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }
  ::ng-deep .navItem  a , ::ng-deep .navItem + div a, ::ng-deep .navItem + div  {
    background: #1e407d !important;
    color: #fff !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-content  {
    background: #1e407d !important;
    padding-top: 0;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: #fff !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-panel {
    box-shadow: none !important;
    border-bottom: 1px solid #ffffff38;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header > a {
    border: 0 none;
    color: rgb(255 255 255);
    background: #1e407d;
    border-radius: 0 !important;
}
::ng-deep .hasSub + div {
  padding-left:  20px;
}