<div class="container pt-5">
    <div class="card shadow">
        <div class=" card-header p-2 blue-bg text-white">
            <strong>Manage Profile {{this.merchantid?this.merchantid:''}}</strong>
        </div>
        <!-- <div class="card-body pt-0" style="overflow: scroll; height: 100%;"> -->


        <div class="card-body pt-0" style="overflow: scroll; height: 100%;">





            <fieldset class="form-group border px-3 pt-0" *ngIf="isfield==1">
                <legend class="w-auto px-2" style="font-size: 12px;">Search Profile</legend>
                <div class="d-flex d-flex-row justify-content-between">
                    <form class="form-inline needs-validation">
                        <div class="form-group mb-2" [formGroup]="ViewProfileGroup">
                            <label for="officerType" class="pr-2">Merchant Id </label>
                            <input type="text" name="mobile" id="mobile" class="form-control has-validation"
                                formControlName="merchantId" maxlength="10" minlength="10">

                        </div>

                        <button type="submit" class="btn btn-info mb-2 ml-2"
                            (click)=" onSearchMechantClick(this.ViewProfileGroup.controls.merchantId.value);">Search</button>

                    </form>
                    <button type="submit" class="btn btn-info mb-2 ml-2" (click)="AddMerchant();">Add Merchant</button>

                </div>
            </fieldset>
            <!-- <ul class="nav nav-tabs justify-content-end" *ngIf="isdetail==1">
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="isbasic==1 ? 'active' : 'inactive'" aria-current="page" *ngIf="isbasic==1">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" >Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul> -->
            <ul class="nav nav-tabs" style="float: right;" *ngIf="isdetail==1">
                <li style="margin: 0px 16px 3px 0; cursor: pointer;" ><a data-toggle="tab disabled" >View
                        Profile</a></li>
                        <!-- (click)="viewprofile();" -->
                <li style="margin: 0px 16px 3px 0; cursor: pointer;" ><a data-toggle="tab disabled" [ngClass]="isbasic==1 ? 'active' : 'inactive'">Basic
                        Information</a></li>
                        <!-- (click)="basicinfor();" -->

                <li style="margin: 0px 16px 3px 0; cursor: pointer;" ><a
                        data-toggle="tab disabled"  [ngClass]="iscontact==1 ? 'active' : 'inactive'">Contact Details</a></li>
                        <!-- (click)="showcontact();" -->
                <!-- <li style="margin: 0px 16px 3px 0; cursor: pointer;" (click)="showpayment();"><a data-toggle="tab">Payment Detail</a></li> -->
                <li style="margin: 0px 16px 3px 0; cursor: pointer;" ><a
                        data-toggle="tab disabled" [ngClass]="isterminal==1 ? 'active' : 'inactive'">Terminal Details</a></li>
                        <!-- (click)="showterminal();" -->
                <!-- <li style="margin: 0px 16px 3px 0; cursor: pointer;" (click)="showsummary();"><a
                        data-toggle="tab">Summary Detail</a></li> -->
            </ul>













            <table class="w-100 table table-borderless table-sm needs-validation" *ngIf="isbasic==1"
                [formGroup]="basicInformationFormGroup">
                <thead>
                    <tr>
                        <th colspan="4">
                            <span style="font-size: 15px;font-weight: bold;">Basic Information</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="left">
                            <span><label class="required">Retail Outlet Name
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <input matInput type="text" formControlName="retailOutletName" required>
                                    <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.retailOutletName.hasError('required')">
                                        Retail Outlet Name is <strong>required!</strong>
                                    </mat-error>
                                </mat-form-field>
                                
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">Merchant Type
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select select formControlName="merchantType" required>
                                    <mat-option [value]="merchantType.merchant_Type_Id"
                                        *ngFor="let merchantType of merchantTypes">{{merchantType.merchant_Type_Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.merchantType.hasError('required')">
                                    Merchant Type is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                       
                       
                        <td align="left">
                            <span><label>Dealer Name
                            </label>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="dealerName">
                               </mat-form-field>
                            </div>
                        </td>



                        <td align="left">
                            <span><label class="required">Dealer Mobile
                            </label>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput maxlength="10" minlength="10" formControlName="dealerMobile">
                               </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">Outlet Category
                            </label></span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">

                                    <mat-select matNativeControl (selectionChange)="onSelectOutletCategory($event.value)" required formControlName="outletCategory">
                                       
                                        <mat-option value="Highway">Highway</mat-option>
                                        <mat-option value="Urban">Urban</mat-option>
                                        <mat-option value="Rural">Rural</mat-option>
                                        <mat-option value="Others">Others</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="basicInformationFormGroup.controls['outletCategory'].hasError('required')">
                                        Outlet Category is <strong>required!</strong>
                                    </mat-error>

                                </mat-form-field>
                               
                            </div>
                        </td>
                        <td align="left" *ngIf="showHighwayNo">
                            <span><label class="required">Highway No
                            </label></span>

                        </td>
                        <td align="left">

                            <div class="row" *ngIf="showHighwayNo">
                                <div class="col-2">



                                    <mat-form-field style="width: 75px;" appearance="outline">
                                        <mat-select matNativeControl  formControlName="HighwayNoSelect">
                                            <mat-option value="NH">NH</mat-option>
                                            <mat-option value="SH">SH</mat-option>
                                            <mat-option value="Other">Other</mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="basicInformationFormGroup.controls['HighwayNoSelect'].hasError('required')">
                                            required
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                                <div class="col-4" style="margin-left: 24px !important;">
                                    <mat-form-field style="width: 130px;" appearance="outline">
                                        <input matInput class="input"  formControlName="HighwayNoName" maxlength="10">
                                        <mat-error
                                            *ngIf="basicInformationFormGroup.controls['HighwayNoName'].hasError('required')">
                                            Highway No is required!
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td align="left" *ngIf="showHighwayName">
                            <span><label class="required">Highway Name
                            </label></span>

                        </td>
                        <td align="left" *ngIf="showHighwayName">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="HighwayName" maxlength="30">
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.HighwayName.hasError('required')">
                                    Highway Name is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">Caution Amount DTP
                            </label></span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input matInput type="text"  formControlName="cautionAmountDTP" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.cautionAmountDTP.hasError('required')">
                                    Caution Amount is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>

                    </tr>

<tr>
    <td align="left">
        <span><label class="required">Caution Amount HP
        </label></span>

    </td>
    <td align="left">

        <div class="form-group">
            <mat-form-field appearance="outline">
            <input matInput type="text"  formControlName="cautionAmountHP" required>
            <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.cautionAmountHP.hasError('required')">
                Caution Amount is <strong>required!</strong>
            </mat-error>
            </mat-form-field>
        </div>
    </td>
</tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">Monthly HSD Sale
                            </label></span>
                                <p style="font-size: 11px;">(3 months average in KL)</p>
                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="monthlyHSDSale" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.monthlyHSDSale.hasError('required')">
                                    Monthly HSD Sale is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">SBU Type
                            </label></span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select formControlName="sbuType" required>
                                    <!-- <mat-option value="select">select</mat-option> -->
                                    <mat-option value="Retails">Retails</mat-option>
                                    <mat-option value="LPG">LPG</mat-option>
                                    <mat-option value="LUBE">LUBE</mat-option>
                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.sbuType.hasError('required')">
                                    SBU Type is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">Pan Card Number
                            </label></span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input matInput type="text" minlength="10" maxlength="10" formControlName="panNumber" required>

                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.panNumber.hasError('pattern')">
                                    Pan Number is <strong>invalid!</strong>
                                </mat-error>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.panNumber.hasError('required')">
                                    Pan Number is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">GST Number
                            </label></span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input matInput type="text" minlength="15" maxlength="15" formControlName="gstNumber" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.gstNumber.hasError('pattern')">
                                    GST Number is <strong>invalid!</strong>
                                </mat-error>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.gstNumber.hasError('required')">
                                    GST Number is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>

                    </tr>








                    <tr>
                        <td colspan="4">
                            <span style="font-size: 15px; font-weight: bold;">Business Details</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <span><label class="required">Zonal Office
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select formControlName="zonalOffice" required>
                                    <mat-option [value]="zonalOffice.zone_Code" *ngFor="let zonalOffice of zonalOffices">
                                        {{zonalOffice.zone_Name}}</mat-option>
                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.zonalOffice.hasError('required')">
                                    Zonal Office is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>



                        <td align="left">
                            <span><label class="required">Regional Office
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select formControlName="regionalOffice" required>
                                    <mat-option [value]="regionalOffice.rO_Code"
                                        *ngFor="let regionalOffice of regionalOffices">{{regionalOffice.rO_Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.regionalOffice.hasError('required')">
                                    Regional Office is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">Sales Area
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select formControlName="salesArea" required>
                                    <mat-option [value]="salesArea.district_Code"
                                        *ngFor="let salesArea of salesAreaDropdownValues">{{salesArea.district_Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.salesArea.hasError('required')">
                                    Sales Area is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>



                        <td align="left">
                            <span><label class="required">ERP Code
                            </label>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="erpCode" required maxlength="8">
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.erpCode.hasError('required')">
                                    ERP Code is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>





                    <tr>
                        <td colspan="4">
                            <span style="font-size: 15px; font-weight: bold;">Contact Person Details</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <span><label class="required">First Name
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="firstName" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.firstName.hasError('required')">
                                    First Name is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">Last Name
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="lastName" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.lastName.hasError('required')">
                                    Last Name is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>


                        
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">Mobile
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput maxlength="10" minlength="10" formControlName="mobile" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.mobile.hasError('required')">
                                    Mobile is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">Email
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="email" required>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.email.hasError('required')">
                                    Email is <strong>required!</strong>
                                </mat-error>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="basicInformationFormGroup.controls.email.hasError('email')">
                                    Email is <strong>invalid!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>



                        <!-- <td align="left">
                            <span><span class="required">Misc
                                </span>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="misc">
                            </div>
                        </td> -->
                    </tr>







                    <tr>
                        <td align="right" colspan="4">
                            <div class=" d-flex flex-row justify-content-end">

                                <div>
                                    <button class="btn btn-primary pl-3 pr-3 m-3" (click)="viewprofile();">Previous</button>
                                    <button class="btn btn-primary pl-3 pr-3" (click)="showcontact();">Next</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>





            <table class="w-100 table table-borderless table-sm" *ngIf="iscontact==1"
                [formGroup]="contactDetailsFormGroup">

                <tbody>
                    <tr>
                        <td colspan="4">
                            <span style="font-size: 15px; font-weight: bold;">Retail Outlet Address</span>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <span><label class="required">Address 1
                            </label>:</span>

                        </td>
                        <td align="left">
                            
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="permAddress1">
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permAddress1.hasError('required')">
                                    Address 1 is <strong>required!</strong>
                                </mat-error>
                            </mat-form-field>
                            </div>
                           
                        </td>



                        <td align="left">
                            <span><label class="required">Address 2
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="permAddress2">
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permAddress2.hasError('required')">
                                    Address 2 is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label>Address 3
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="permAddress3">
                                <!-- <span style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permAddress3.hasError('required')">
                                    Address 3 is <strong>required!</strong>
                                </span> -->
                                </mat-form-field>
                            </div>
                        </td>



                        <td align="left">
                            <span><label>Location
                            </label>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="permLocation">
                                <!-- <span style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permLocation.hasError('required')">
                                    Location is <strong>required!</strong>
                                </span> -->
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">State
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-select (selectionChange)="onSelectState($event.value)" formControlName="permState">
                                        <mat-option [value]="state.stateCode" *ngFor="let state of statesDropdownValues">
                                            {{state.state_Name}}</mat-option>
                                    </mat-select>
                                    <mat-error style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permState.hasError('required')">
                                        State is <strong>required!</strong>
                                    </mat-error>
                                </mat-form-field>
                                
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">District
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select formControlName="permDistrict">
                                    <mat-option [value]="district.district_Code"
                                        *ngFor="let district of districtDropdownValues">{{district.district_Name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permDistrict.hasError('required')">
                                    District is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>

                       



                       
                    </tr>
                    <tr>
                        
                        <td align=" left">
                            <span><label class="required">City
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select  formControlName="permCity">
                                    <mat-option [value]="city.cityCode" *ngFor="let city of cityDropdownValues">
                                        {{city.city_Name}}</mat-option>

                                </mat-select>
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permCity.hasError('required')">
                                    City is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>

                        <td>
                            <span><label class="required">PIN Code
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" minlength="6" maxlength="6" matInput formControlName="permPincode">
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permPincode.hasError('required')">
                                    PIN Code is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <span><label>Phone Office

                            </label>:

                            </span>


                        </td>
                        <td align="left">

                            <div class="form-inline">
                                <mat-form-field appearance="outline" style="width: 90px;">
                                <!-- <input class="form-control" type="text" maxlength="8" style="width:60px;margin-left: 15px"> -->
                                <input matInput type="text" maxlength="6" 
                                    formControlName="Perm_std_code">
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="margin-left:5px;width: 150px;">
                                <input matInput type="text" maxlength="10" 
                                    formControlName="permPhoneOffice">
                                  </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="permPhoneOffice" style="width: 40px;">
                                <input type="text" class="form-control" formControlName="permPhoneOffice"> -->
                            </div>
                            <!-- <span style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.Perm_std_code.hasError('required')">
                                Ph(off) STD is <strong>required!</strong>
                            </span>
                            <span style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permPhoneOffice.hasError('required')">
                                Ph(off) is <strong>required!</strong>
                            </span> -->
                        </td>
                    </tr>
                    <tr>


                        <td>
                            <span><label>Fax
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" maxlength="10" minlength="10" matInput formControlName="permFax">
                                <!-- <span style="font-size:12px" class="text-danger" *ngIf="contactDetailsFormGroup.controls.permFax.hasError('required')">
                                    Fax is <strong>required!</strong>
                                </span> -->
                            </mat-form-field>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <span style="font-size: 15px; font-weight: bold;">Communication Address</span>
                            <div class="col-md-6">
                                <input type="checkbox" formControlName="checkboxRetails" (change)="onPermanentCommunicationAddressCheckboxChecked($event)"
                                  [checked]="checked==true">
                
                                <label>
                                   
                                  <small style="font-size: 10px;color: red;padding: 6px;">(Click here if communication address is same as retail outlet address)</small>
                                </label>
                              </div>
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <span><label>Address 1
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="Comm_Address1">
                            </mat-form-field>
                            </div>
                        </td>



                        <td align="left">
                            <span><label>Address 2
                            </label>:</span>

                        </td>
                        <td>

                            
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="Comm_Address2">
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label>Address 3
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" matInput formControlName="Comm_Address3">
                                </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label class="required">Location
                            </label>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text"matInput formControlName="Comm_Location">
                                </mat-form-field>
                            </div>
                        </td>


                       
                    </tr>
                    <tr>
                        <td align=" left">
                            <span><label>State
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select  formControlName="comm_State">
                                    <mat-option [value]="state.stateCode" *ngFor="let state of statesDropdownValues">
                                        {{state.state_Name}}</mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                        </td>



                        <td align="left">
                            <span><label>District
                            </label>:</span>

                        </td>
                        <td>

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <mat-select formControlName="comm_District">
                                    <mat-option [value]="district.district_Code"
                                        *ngFor="let district of districtDropdownValues">{{district.district_Name}}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label>City
                            </label>:</span>

                        </td>
                        <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline" >
                                <mat-select formControlName="comm_City">
                                    <mat-option [value]="city.cityCode" *ngFor="let city of cityDropdownValues">
                                        {{city.city_Name}}</mat-option>

                                </mat-select>
                                </mat-form-field>
                            </div>
                        </td>
                        <td align="left">
                            <span><label>Pin
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                <input type="text" minlength="6" maxlength="6" matInput formControlName="Comm_PIN_Code">
                                </mat-form-field>
                            </div>
                        </td>

                        


                    </tr>

                    <tr>

                    </tr>
                    <tr>
                        <td align="left">
                            <span><label>Phone
                            </label>:</span>

                        </td>
                        <td align="left">
                            <div class="form-inline">
                                <mat-form-field appearance="outline" style="width: 90px;">
                                <!-- <input class="form-control" type="text" maxlength="8" style="width:60px;margin-left: 15px"> -->
                                <input matInput type="text" maxlength="6" 
                                    formControlName="Comm_std_code">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="margin-left:5px;width: 150px;">
                                <input matInput type="text" maxlength="10" 
                                    formControlName="Comm_Ph_Off">
                                   </mat-form-field>
                                <!-- <input type="text" class="form-control" formControlName="permPhoneOffice" style="width: 40px;">
                                <input type="text" class="form-control" formControlName="permPhoneOffice"> -->
                            </div>
                            
                        </td>
                        <td align="left">
                            <span><label>Fax
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline" >
                                    <input type="text" matInput formControlName="Comm_Fax" maxlength="10" minlength="10">

                                </mat-form-field>
                            </div>
                        </td>
                        
                       


                    </tr>



                    <tr>
                        <td align="right" colspan="4">
                            <div class=" d-flex flex-row justify-content-end">
                                <div class="mr-3">
                                    <button class="btn btn-primary pl-3 pr-3 m-3" (click)="basicinfor();">Previous</button>
                                    <button class="btn btn-primary pl-3 pr-3" (click)="showterminal();">Next</button>
                                </div>
                                <div>
                                    <!-- <button class="btn btn-primary pl-3 pr-3"
                                        routerLink="/admin/manageofficers">CANCEL</button> -->
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="w-100 table table-borderless table-sm" *ngIf="isterminal==1"
                [formGroup]="terminalDetailsFormGroup">
                <thead>
                    <tr>
                        <th colspan="4">
                            <span style="font-size: 15px;font-weight: bold;">Terminal Details</span>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td align="left">
                            <span><label class="required">No. of Live Terminal(s)
                            </label>:</span>

                        </td>
                        <td align="left">

                            <div class="form-group">
                                <mat-form-field appearance="outline" >
                                <input type="number" matInput formControlName="NoofLiveTerminals">
                                <mat-error style="font-size:12px" class="text-danger" *ngIf="terminalDetailsFormGroup.controls.NoofLiveTerminals.hasError('required')">
                                    No. of Live Terminal(s) is <strong>required!</strong>
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <span><label class="required">Terminal Type Requested
                            </label>:</span>

                        </td>
                        <td align="left">
                            <label style="padding: 5px; font-size: 12px;" for="input-ao">
                                <input (change)="radioButtonChecked($event.target.value)" id="input-ao" type="radio"
                                    name="capacity" value="GPRS Installation" checked="checked" />
                                GPRS Installation
                            </label>
                            <label style="padding: 5px; font-size: 12px;" for="input-lo">
                                <input (change)="radioButtonChecked($event.target.value)" id="input-lo" type="radio"
                                    name="capacity" value="Desktop Installation" />
                                Desktop Installation
                            </label>
                            <label style="padding: 5px; font-size: 12px;" for="input-lo">
                                <input (change)="radioButtonChecked($event.target.value)" id="input-lo" type="radio"
                                    name="capacity" value="WIFI Installation" />
                                Wifi Installation</label>






                        </td>

                    </tr>
                    <tr>
                        <td align="right" colspan="4">
                            <div class=" d-flex flex-row justify-content-end">
                                <div class="mr-3">
                                    <button class="btn btn-primary pl-3 pr-3 m-3"
                                        (click)="showcontact()">Previous</button>
                                    <button class="btn btn-primary pl-3 pr-3"
                                        (click)="onAddMerchantClick()">CONFIRM</button>
                                </div>
                                <div>
                                    <!-- <button class="btn btn-primary pl-3 pr-3"
                                        routerLink="/admin/manageofficers">CANCEL</button> -->
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-3 card" *ngIf="isshow==1">
                <!-- <table id="data-table" class="table table-striped table-borderless table-sm"
                    style=" width: 97%; margin-left: 15px;">
                    <thead>
                        <tr>
                            <th style="display: none;">
                                <input type="checkbox" [(ngModel)]="allChecked" (change)="toggleCheckAll()"
                                    [checked]="setAllChecked()" />
                            </th>

                            <th>Customer Id</th>
                            <th>Customer Name</th>
                            <th>Mobile No</th>
                            <th>Pin Code</th>

                            <th>Email Address</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of GetSaveData; let i = index">
                            <td style="display: none;">
                                <input type="checkbox" />
                            </td>

                            <td>{{data.customerid}}</td>
                            <td>{{data.customername}}</td>
                            <td>{{data.mobile}}</td>
                            <td>{{data.pincode}}</td>

                            <td>{{data.email}}</td>


                        </tr>
                    </tbody>
                </table> -->
                <!-- <div class="form-group col-md-12">

                    <ngb-pagination class="float-left" [collectionSize]="totalRow" [(page)]="page"
                        [boundaryLinks]="true" [pageSize]="1"></ngb-pagination>
                    <select class="custom-select float-right" style="width: auto;" (ngModelChange)="limitChange($event)"
                        [(ngModel)]="pageSize">
                        <option [ngValue]="2">2</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div> -->
            </div>
        </div>
    </div>
</div>