<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Manage Officer'"
                    [bodyText]="'Manage Officer'"
                    [imageIcon]="'assets/images/application_view_list.png'" [routingLinkUrl]="'/admin/manageofficers'">
                </app-card>

                <app-card [title]="'View Officer Details'"
                    [bodyText]="'View Officer Details'"
                    [imageIcon]="'assets/images/list-accept.png'"
                    [routingLinkUrl]="'/admin/officerdetail'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->