<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'View Audits Details'"
                    [bodyText]="'View Audits Details'"
                    [imageIcon]="'assets/images/application_view_list.png'" [routingLinkUrl]="'/admin/viewauditdetails'">
                </app-card>

                <app-card [title]="'User Login Log'"
                    [bodyText]="'View User Login Log Reports'"
                    [imageIcon]="'assets/images/userlog.jpg'"
                    [routingLinkUrl]="'/admin/userloginlog'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->