<div class="container-fluid">
    <div class="container">
        <div class="row form-group">
            <div class="col-12">
                <div class="card mt-3 mb-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                        <strong>Create HP Pay Customer</strong>
                    </div>
                    <div class="card-body pt-0" [formGroup]="customerCreationFormGroup">


                        <!-- <fieldset class="form-group border px-3 pt-0">
                            <legend class="w-auto px-2" style="font-size: 12px;">Application Details</legend>
                            <div class="d-flex d-flex-row justify-content-between">
                                <form class="form-inline">
                                    <div class="form-group mb-2">
                                        <label for="officerType" class="pr-2">Application Date</label>
                                        <input type="date" class="form-control">

                                    </div>

                                </form>

                            </div>
                        </fieldset> -->


                        <table class="w-100 table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th colspan="4">
                                        <span style="font-size: 15px;">Customer Details</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <span><label class="required">Title
                                        </label>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <!-- <select class="form-control" formControlName="title">
                                                <option value="Ms.">Ms. </option>
                                                <option value="Mr.">Mr. </option>
                                                <option value="Mrs.">Mrs. </option>
                                            </select> -->
                                            <mat-form-field appearance="outline">

                                                <mat-select matNativeControl required formControlName="title">
                                                  <mat-option value="Mr.">Mr.</mat-option>
                                                  <mat-option value="Ms.">Ms.</mat-option>
                                                  <mat-option value="Mrs.">Mrs.</mat-option>
                              
                                                </mat-select>
                                                <mat-error *ngIf="customerCreationFormGroup.controls['title'].hasError('required')">
                                                  Title is required!
                                                </mat-error>
                              
                                              </mat-form-field>
                                        </div>
                                    </td>




                                </tr>

                                <tr>
                                    <td align="left">
                                        <span><label class="required">First Name
                                        </label>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <!-- <input type="text" class="form-control" formControlName="first_name"> -->
                                            <mat-form-field appearance="outline">

                                                <input matInput class="input" required formControlName="first_name">
                                                <mat-error *ngIf="customerCreationFormGroup.controls['first_name'].hasError('required')">
                                                  First Name is required!
                                                </mat-error>
                                              </mat-form-field>
                                        </div>
                                    </td>
                                    <td align="left">
                                        <span><label class="required">Last Name
                                        </label>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <mat-form-field appearance="outline">

                                                <input matInput class="input" required formControlName="last_name">
                                                <mat-error *ngIf="customerCreationFormGroup.controls['last_name'].hasError('required')">
                                                  Last Name is required!
                                                </mat-error>
                                              </mat-form-field>
                                            <!-- <input type="text" class="form-control" formControlName="last_name"> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><label class="required">Address
                                        </label>:</span>

                                    </td>
                                    <td align="left">
                                       
                                            <mat-form-field >
                                                <textarea matInput  formControlName="address" rows="5"></textarea>
                                                <!-- <input matInput required formControlName="address"> -->
                                                <mat-error *ngIf="customerCreationFormGroup.controls['address'].hasError('required')">
                                                  Address is required!
                                                </mat-error>
                                              </mat-form-field>
                                            <!-- <textarea type="text" class="form-control"
                                                formControlName="address"></textarea> -->
                                      
                                    </td>
                                </tr>
                           



                                <tr>
                                    <td align="left">
                                        <span><label class="required">State
                                        </label>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <mat-select matNativeControl required formControlName="state" (selectionChange)="onSelectState($event.value)">
                                                  <!-- <mat-option value="select">Select</mat-option> -->
                                                  <mat-option [value]="stateDropdown.stateCode" *ngFor="let stateDropdown of statesDropdownValues">
                                                    {{stateDropdown.state_Name}}
                                                  </mat-option>
                                                </mat-select>
                                               
                                                <mat-error *ngIf="customerCreationFormGroup.controls['state'].hasError('required')">
                                                  State is required!
                                                </mat-error>
                              
                                              </mat-form-field>
                                            <!-- <select class="form-control" formControlName="state">
                                                <option [value]="state.stateCode" *ngFor="let state of statesDropdownValues">{{state.state_Name}}</option>

                                            </select> -->
                                        </div>
                                    </td>

                                    <td align="left">
                                        <span><label class="required">District
                                        </label></span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <mat-select matNativeControl required formControlName="district">
                                                  <!-- <mat-option value="select">Select</mat-option> -->
                                                  <mat-option [value]="districtDropdown.district_Code"
                                                    *ngFor="let districtDropdown of districtDropdownValues">{{districtDropdown.district_Name}}
                                                  </mat-option>
                                                </mat-select>
                              
                                                <mat-error *ngIf="customerCreationFormGroup.controls['district'].hasError('required')">
                                                  District is required!
                                                </mat-error>
                              
                                              </mat-form-field>
                                            <!-- <select class="form-control" formControlName="district">
                                                <option [value]="district.district_Code"
                                                    *ngFor="let district of districtDropdownValues">
                                                    {{district.district_Name}}</option>

                                            </select> -->
                                        </div>
                                    </td>

                                   
                                </tr>
                                <tr>

                                    <td align="left">
                                        <span><label class="required">City
                                        </label>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <mat-form-field appearance="outline">

                                                <mat-select matNativeControl required formControlName="city">
                                                  <mat-option value="select">Select</mat-option>
                                                  <mat-option [value]="cityDropdown.cityCode" *ngFor="let cityDropdown of cityDropdownValues">
                                                    {{cityDropdown.city_Name}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="customerCreationFormGroup.controls['city'].hasError('required')">
                                                  City is required!
                                                </mat-error>
                              
                                              </mat-form-field>
                                        
                                        </div>
                                    </td>
                                    <td align="left">
                                        <span><label class="required">Pin Code
                                        </label>:</span>

                                    </td>
                                    <td>

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input" type="string" maxlength="6" minlength="6" required
                                                  formControlName="pincode">
                                                <mat-error *ngIf="customerCreationFormGroup.controls['pincode'].hasError('required')">
                                                  PIN Code is required!
                                                </mat-error>
                                                <mat-error *ngIf="customerCreationFormGroup.controls['pincode'].hasError('minlength')">
                                                    PIN Code is invalid!
                                                  </mat-error>
                                              </mat-form-field>
                                            <!-- <input type="text" maxlength="6" minlength="6" class="form-control" formControlName="pincode"> -->
                                        </div>
                                    </td>
                                  
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><label class="required">Gender
                                        </label>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">

                                                <mat-select matNativeControl required formControlName="gender">
                                                    <mat-option value="Male">Male</mat-option>
                                                    <mat-option value="Female">Female</mat-option>
                                                    <mat-option value="Other">Other</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="customerCreationFormGroup.controls['gender'].hasError('required')">
                                                  Title is required!
                                                </mat-error>
                              
                                              </mat-form-field>
                                          
                                        </div>
                                    </td>



                                    <td align="left">
                                        <span><label class="required">Mobile
                                        </label>:</span>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <input (blur)="checkMobileNo()" matInput class="input" type="string" maxlength="10" minlength="10"
                                                  required formControlName="mobile_number">
                                                <mat-error *ngIf="customerCreationFormGroup.controls['mobile_number'].hasError('required')">
                                                  Mobile is required!
                                                </mat-error>
                                                <mat-error *ngIf="customerCreationFormGroup.controls['mobile_number'].hasError('minlength')">
                                                  Mobile is not Valid!
                                                </mat-error>
                                              </mat-form-field>
                                            <!-- <input type="text" class="form-control" maxlength="10" minlength="10" formControlName="mobile_number"> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align=" left">
                                        <span><label >Email
                                        </label>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <mat-form-field appearance="outline">
                                                <input matInput class="input" formControlName="email">
                              
                                                <mat-error *ngIf="customerCreationFormGroup.controls['email'].hasError('email')">
                                                  Email is not Valid!
                                                </mat-error>
                                              </mat-form-field>
                                            <!-- <input type="text" class="form-control" formControlName="email"> -->

                                        </div>
                                    </td>



                                    <td align="left">
                                        <span><label class="required">Date Of Birth
                                        </label>:</span>

                                    </td>
                                    <td>

                                      
                                            <mat-form-field appearance="outline">
                                                <input class="input" formControlName="dob"  matInput [matDatepicker]="dateOfBirth"
                                                 [min]="minDate" [max]="maxDate">
                                                <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                                                <mat-datepicker #dateOfBirth></mat-datepicker>
                                                <mat-error *ngIf="customerCreationFormGroup.controls['dob'].errors?.required">
                                                 Date of Birth is required!
                                                </mat-error>
                                              </mat-form-field>
                                            <!-- <input class=" input" placeholder="dd/mm/yyyy" name="d1"
                         [(ngModel)]="model1" ngbDatepicker #d1="ngbDatepicker" class="form-control" formControlName="dob" (click)="d1.toggle()"> -->
                    <!-- <input type="date" class="form-control" formControlName="dob" [min]="minDate" [max]="maxDate"> -->

                                      
                                    </td>
                                </tr>



                                <tr>
                                    <td align="right" colspan="4">
                                        <div class=" d-flex flex-row justify-content-end">
                                            <div class="mr-3">
                                                <button class="btn btn-primary pl-3 pr-3"
                                                    (click)="onSubmitButtonClick()">Submit</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary pl-3 pr-3" (click)="Reset()">Reset</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>