<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5 p-0">
                <div class="card-header text-white" style="background-color:  #084594;">
                    Manage Customer Bonus
                </div>
                <div class="card-body">
                    <table class="w-50">
                        <tr>
                            <td>
                                <span class="required">Mobile No.</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                    <input type="text" class="form-control" >
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span>Customer Name</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                  <input type="text"  class ="form-control">
                                </div>
                            </td>
                        </tr>
                        <tbody>
                            <tr>
                                <td>
                                    <span><span>Customer Address
                                        </span>:</span>

                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><span class="required">Bonus Point
                                        </span>:</span>

                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><span>Comments
                                        </span>:</span>

                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control"></textarea>
                                    </div>
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary">Search</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary">Reset</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>