<div class="container" *ngIf="!alertCustomerinfo">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5 p-0">
                <div class="card-header text-white" style="background-color:  #084594;">
                    Manage Customer Bonus
                </div>
                <div class="card-body" [formGroup]="manageCustomerBonusForm">
                    <table class="w-50">
                        <tr>
                            <td>
                                <span class="required">Mobile No.</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="mobileNumber" maxlength="10">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span>Customer Name</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="customerName">
                                </div>
                            </td>
                        </tr>
                        <tbody>
                            <tr>
                                <td>
                                    <span><span>Customer Address
                                        </span>:</span>

                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" formControlName="address"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><span class="required">Bonus Point
                                        </span>:</span>

                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="bonusPoints">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span><span>Comments
                                        </span>:</span>

                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" formControlName="comments"></textarea>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="onSubmitAddCustomer()">Submit</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" (click)="resetForm()">Reset</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-primary alertAlignment" role="alert" *ngIf="alertCustomerinfo">
    Corporate customer bonus request placed successfully and is pending for approval
</div>