<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'SMS Alert For Dealer'"
                    [bodyText]="'Request Of SMS Alert For Dealer'"
                    [imageIcon]="'assets/images/application_view_list.png'"
                     [routingLinkUrl]="'/admin/merchant/smsalert'">
                </app-card>

                <app-card [title]="'Customer Referal Request'"
                    [bodyText]="'Customer Referal Request'"
                    [imageIcon]="'assets/images/mime_txt.png'"
                    [routingLinkUrl]="'/admin/merchant/customerreferal'">
                </app-card>

                <app-card [title]="'Generate QR Code'"
                [bodyText]="'Generate QR Code'"
                [imageIcon]="'assets/images/mime_txt.png'"
                 [routingLinkUrl]="'/admin/merchant/generateqrcode'">
            </app-card>

            <app-card [title]="'Merchant Product Mapping'"
                [bodyText]="'Merchant Product Mapping'"
                [imageIcon]="'assets/images/mime_txt.png'"
                [routingLinkUrl]="'/admin/merchant/productmapping'">
            </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->