<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
          
            <div id="DashboadQuickMenuBox">
                
                <app-card [title]="'Settlement Details'"
                    [bodyText]="'View Merchant and Terminal Settlement Details'"
                    [imageIcon]="'assets/images/application_view_tile.png'" [routingLinkUrl]="'/admin/merchant/settlementdetail'">
                </app-card>

                <app-card [title]="'Transaction Details'"
                    [bodyText]="'View Merchant and Terminal Transaction Details'"
                    [imageIcon]="'assets/images/transaction-detail.png'"
                    [routingLinkUrl]="'/admin/merchant/transactiondetail'">
                </app-card>

                <app-card [title]="'Receivable - Paybale Details'"
                    [bodyText]="'View Merchant and Terminal Receivable Paybale Details'"
                    [imageIcon]="'assets/images/card-detail.png'"
                    [routingLinkUrl]="'/admin/merchant/receivablepayabledetail'">
                 </app-card>

                 <app-card [title]="'ERP Reload/Sale/Earning Details'"
                 [bodyText]="'View ERP Reload/Sale/Earning Details'"
                 [imageIcon]="'assets/images/sale-icon.png'"
                 [routingLinkUrl]="'/admin/merchant/erpreloadsaleearningdetail'">
              </app-card>

              <app-card [title]="'Merchant Account Statement Request'"
                 [bodyText]="'Request for Merchant Account Statement'"
                 [imageIcon]="'assets/images/acc_stmnt.png'"
                 [routingLinkUrl]="'/admin/merchant/merchantaccountstatementrequest'">
              </app-card>

              <app-card [title]="'Merchant Account Statement Download'"
              [bodyText]="'Download Merchant Account Details'"
              [imageIcon]="'assets/images/stmnt_dwnld.png'"
              [routingLinkUrl]="'/admin/merchant/merchantaccountstatementdownload'">
           </app-card>

           <app-card [title]="'View Earning Break-up'"
           [bodyText]="'View Earning Break-up'"
           [imageIcon]="'assets/images/application_view_detail.png'"
           [routingLinkUrl]="'/admin/merchant/merchanttransactionview'">
        </app-card>

        <app-card [title]="'Day-Wise Merchant Earning Data'"
        [bodyText]="'View and Download Merchant Day-Wise Earning'"
        [imageIcon]="'assets/images/MerchantEarning.png'"
        [routingLinkUrl]="'/admin/merchant/merchantdaywiseearningview'">
     </app-card>

     <app-card [title]="'QR Code Wise Transaction Details'"
     [bodyText]="'QR Code Wise Transaction Details'"
     [imageIcon]="'assets/images/transaction-detail.png'"
     [routingLinkUrl]="'/admin/merchant/qrcodetransactiondetail'">
  </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">
            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->