<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Service Details'"
                    [bodyText]="'Add/Edit Service Master'"
                    [imageIcon]="'assets/images/users.png'" [routingLinkUrl]="'/admin/servicedetail'">
                </app-card>

                <app-card [title]="'Configure Notification'"
                    [bodyText]="'Configure The Notifications'"
                    [imageIcon]="'assets/images/mime_txt.png'"
                    [routingLinkUrl]="'/admin/notificationdetail'">
                </app-card>

                <app-card [title]="'Loyalty Configurations'"
                [bodyText]="'Loyalty Configurations'"
                [imageIcon]="'assets/images/mime_txt.png'"
                [routingLinkUrl]="'/admin/loyaltyConfiguration'">
            </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->