<div class="container-fluid">
    <div class="container">
        <div class="row form-group">
            <div class="col-12">
                <div class="card mt-3 mb-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                        <strong>Service Master</strong>
                    </div>
                    <div class="card-body">


                        <table class="w-100 table table-borderless table-sm">
                            
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">Name
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">Code
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>



                                
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">Allowed Txn Type
                                            </span></span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="select">select</option>
                                                <option value="Customer">L-1</option>
                                                <option value="Merchant">L-2</option>
                                                <option value="Customer">L-3</option>
                                                <option value="Merchant">L-4</option>
                                            </select>
                                        </div>
                                    </td>

                                </tr>

                               

                                <tr>
                                    <td align="left">
                                        <span><span class="required">Service Type
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="select">select</option>
                                                <option value="Customer">L-1</option>
                                                <option value="Merchant">L-2</option>
                                                <option value="Customer">L-3</option>
                                                <option value="Merchant">L-4</option>
                                            </select>                                        </div>
                                    </td>



                                   
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">User Input 1
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>



                                    <td align="left">
                                        <span><span class="required">Data Type
                                            </span>:</span>

                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="select">select</option>
                                                <option value="Customer">Int</option>
                                                <option value="Merchant">String</option>
                                                <option value="Customer">Float</option>
                                                <option value="Merchant">Decimal</option>
                                            </select>                                          </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align=" left">
                                        <span><span class="required">User Input 2
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="text" class="form-control">

                                        </div>
                                    </td>



                                    <td align="left">
                                        <span><span class="required">Data Type
                                            </span>:</span>

                                    </td>
                                    <td>

                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="select">select</option>
                                                <option value="Customer">Int</option>
                                                <option value="Merchant">String</option>
                                                <option value="Customer">Float</option>
                                                <option value="Merchant">Decimal</option>
                                            </select>  
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span class="required">User Input 3
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>



                                    <td>
                                        <span><span class="required">Data Type
                                            </span>:</span>

                                    </td>
                                    <td>

                                        <div class="form-group">
                                            <select class="form-control">
                                                <option value="select">select</option>
                                                <option value="Customer">Int</option>
                                                <option value="Merchant">String</option>
                                                <option value="Customer">Float</option>
                                                <option value="Merchant">Decimal</option>
                                            </select>                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left">
                                        <span><span class="required">Enable
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="radio">
                                            <label class="mr-3"><input type="radio" id='regular' name="optradio">True</label>
                                            <label><input type="radio" id='regular' name="optradio">False</label>

                                        </div>
                                    </td>



                                   
                                </tr>
                              


                                <tr>
                                    <td align="right" colspan="4">
                                        <div class=" d-flex flex-row justify-content-end">
                                            <div class="mr-3">
                                                <button class="btn btn-primary pl-3 pr-3">Add Service</button>
                                            </div>
                                            <div class="mr-3">
                                                <button class="btn btn-primary pl-3 pr-3">Reset</button>
                                            </div>
                                            <div>
                                                <button class="btn btn-primary pl-3 pr-3"
                                                    routerLink="/admin/servicedetail">CANCEL</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>