<div class="container pt-5">
  <div class="card">
    <div class="card-header p-2 blue-bg text-white d-flex">
      <div class="w-75 m-auto">
        <strong>Manage
          Role</strong>
      </div>
      <div class="input-group search-grp" style="width: 40%;">
        <input type="text" class="form-control" placeholder="Search User" />


        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search"></i></span>

        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info btn-sm px-3" routerLink="../add-role">Add</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-info btn-sm">Delete</button>
      </div>
    </div>
    <div class="card-body">
      <div class="mt-3">
        <table id="data-table" class="table table-borderless table-striped table-sm" style=" width: 97%; margin-left:
          15px;">
          <thead>
            <tr>
              <th>
                S.No
              </th>
              <th>Role Name</th>
              <th>Role Description</th>

              <th style="text-align: right;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of adminRolesDropdownValues; let i = index">
              <td>
              {{i+1}}
              </td>
              <td>{{data.role_Name}}</td>
              <td>{{data.role_Description}}</td>

              <td align="right">
                <mat-icon style="font-size: 20px;" aria-hidden="false" color="warn">edit</mat-icon>
                <mat-icon style="font-size: 20px;" aria-hidden="false" color="warn">delete</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
        &nbsp;
        &nbsp;
        
      </div>
    </div>
  </div>
</div>