<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'Map Mobile No. and Reset M-PIN'"
                    [bodyText]="'Map and View Mobile Nos. against Cards and Set/Reset M-PIN'"
                    [imageIcon]="'assets/images/card-detail.png'" [routingLinkUrl]="'/admin/HPPayCustomer/cardlessmaping'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->