<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <div id="DashboadQuickMenuBox">
                <app-card [title]="'View And Close Customer Feedback'"
                    [bodyText]="'View And Close Customer Feedback Received'"
                    [imageIcon]="'assets/images/FeedBackView.png'" [routingLinkUrl]="'/admin/HPPayCustomer/viewcustomerfeedback'">
                </app-card>

              

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->