<div class="container-fluid">
    <div class="container">
        <div class="row form-group">
            <div class="col-12">
                <div class="card mt-3 mb-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                        <strong>Request CCMS Recharge through EFT</strong>
                    </div>
                    <div class="card-body">


                        <table class="w-100 table table-borderless table-sm" [formGroup]="requestCCMSrechargeThroughEFTformGroup">
                            
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <span><span>Mobile Number
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="text" maxlength="10" minlength="10" class="form-control" formControlName="mobile_No">
                                        </div>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span>Amount
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="amount">
                                        </div>
                                    </td>
                                   
                                </tr>
                                <!-- <tr>
                                    <td align="left">
                                        <span><span>Sender Name
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="text" class="form-control" formControlName="sender_Name">
                                        </div>
                                    </td>
                                   
                                </tr> -->
                                <tr>
                                    <td align="left">
                                        <span><span>Transaction Date
                                            </span>:</span>

                                    </td>
                                    <td align="left">
                                        <div class="form-group">
                                            <input type="date" class="form-control" formControlName="txn_Date">
                                        </div>
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span><span>Comment
                                            </span>:</span>

                                    </td>
                                    <td align="left">

                                        <div class="form-group">
                                            <textarea type="text" class="form-control" style="height: 100px;" formControlName="comment"></textarea>
                                        </div>
                                    </td>



                                
                                </tr>
                              

                                <tr>
                                    <td align="right" colspan="4">
                                        <div class=" d-flex flex-row justify-content-end">
                                            <div class="mr-3">
                                                <button class="btn btn-primary pl-3 pr-3" (click)="onSubmitButtonClick()">Submit</button>
                                            </div>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>