<div class="card card-sm header-bg mb-0">
    <div class="d-flex justify-content-between">
        <div>
            <a href="index.html">
                <img class="img-gap" height="44" width="44"
                    src="../../../../assets/customerassets/statichtml/images/others/hp-refuel-logo.png" alt="Logo">
                <img height="50" width="53" class="logo-fold"
                    src="../../../../assets/customerassets/statichtml/images/others/hpcl-logo-w.png" alt="Logo">
            </a>
        </div>
        <div class="d-flex pt-1">
            <div class="pointer p-2 pr-3">
                <i class="fa fa-bell" style="font-size: x-large;" aria-hidden="true"></i>
            </div>

            <div class="avatar avatar-image mr-1">
            </div>
            <div ngbDropdown>
                <div class="p-2 pointer" ngbDropdownToggle>
                    <span>Test</span>
                </div>
                <div class="p-0" ngbDropdownMenu>
                    <button ngbDropdownItem>Edit</button>
                    <div class="dropdown-divider m-0"></div>
                    <button ngbDropdownItem>Duplicate</button>
                    <div class="dropdown-divider m-0"></div>
                    <button ngbDropdownItem>Move</button>
                    <div class="dropdown-divider m-0"></div>
                    <button ngbDropdownItem>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>