<div class="container pt-5">
    <div class="card shadow">
      <div class="card-header p-2 blue-bg text-white">
        <strong class="balanceinfo">Verify Customer Profile</strong>
      </div>
      
      <div class="card-body">
                    <table class="w-50" [formGroup]="pendingCorporateCustomerFormGroup">
                        <tr>
                            <td>
                                <span class="required">Select  Category</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                    <select class="form-control" formControlName="category">
                                        <option value="New Customer">New Customer</option>
                                        <option value="Approved Customer">Approved Customer</option>
                                        <option value="Rejected Customer">Rejected Customer</option>
                                    </select>  
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">From Date</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="date" class="form-control" formControlName="fromDate">   
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="required">To Date</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                   <input type="date" class="form-control" formControlName="toDate">   
                                </div>
                            </td>
                        </tr>



                        <tbody>

                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="searchPendingCorporateCustomer()">Search</button>
                                        </div>
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="Reset()">Reset</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
  </div>

  
