<div class="container-fluid">
    <div class="container">
        <div class="row form-group">
            <div class="col-12">
                <div class="card mt-3 mb-5 p-0">
                    <div class="card-header text-white" style="background-color:  #084594;">
                        <strong>Create Corporate Customer</strong>
                    </div>
                    <div class="card-body pt-0">

                        <fieldset class="form-group border px-3 pt-0">
                            <legend class="w-auto px-2" style="font-size: 12px;">Corporate Customer Details</legend>
                            <table class="w-100 table table-borderless table-sm">

                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <span><span class="required">Customer Type
                                                </span>:</span>

                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="Select">Select</option>
                                                    <option value="Customer">Corporate Group</option>
                                                    <option value="Merchant">Ride Share</option>
                                                </select>

                                            </div>
                                        </td>
                                        <td align="left">
                                            <span><span class="required">Entity Type
                                                </span>:</span>
                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="Select">Select</option>
                                                    <option value="Customer">L-1</option>
                                                    <option value="Merchant">L-2</option>
                                                    <option value="Customer">L-3</option>
                                                    <option value="Merchant">L-4</option>
                                                </select>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td align="left">
                                            <span><span class="required">Company Name
                                                </span>:</span>

                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="text" class="form-control">

                                            </div>
                                        </td>
                                        <td align="left">
                                            <span><span class="required">Company Phone No.
                                                </span>:</span>
                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="text" class="form-control">

                                            </div>
                                        </td>
                                    </tr>
                               
                                    <tr>

                                        <td align="left">
                                            <span><span class="required">Company Email Address
                                                </span>:</span>

                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="email" class="form-control">
                                            </div>
                                        </td>

                                        <td align="left">
                                            <span><span class="required">Company Address
                                                </span>:</span>

                                        </td>
                                        <td align="left">

                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                                <input type="text" class="form-control">
                                                <input type="text" class="form-control">
                                                <input type="text" class="form-control">

                                            </div>
                                        </td>

                                    </tr>



                                    <tr>
                                        <td align="left">
                                            <span><span class="required">City
                                                </span>:</span>

                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </td>

                                        <td align="left">
                                            <span><span class="required">State
                                                </span>:</span>

                                        </td>
                                        <td align="left">

                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="select">select</option>
                                                    <option value="Customer">L-1</option>
                                                    <option value="Merchant">L-2</option>
                                                    <option value="Customer">L-3</option>
                                                    <option value="Merchant">L-4</option>
                                                </select>
                                            </div>
                                        </td>

                                     
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <span><span class="required">Dsitrict
                                                </span>:</span>

                                        </td>
                                        <td align="left">

                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="select">select</option>
                                                    <option value="Customer">Male</option>
                                                    <option value="Merchant">Female</option>

                                                </select>
                                            </div>
                                        </td>



                                        <td align="left">
                                            <span><span class="required">Zonal Office
                                                </span>:</span>

                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="select">select</option>
                                                    <option value="Customer">Male</option>
                                                    <option value="Merchant">Female</option>

                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align=" left">
                                            <span><span class="required">Regional Office
                                                </span>:</span>

                                        </td>
                                        <td align="left">

                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option value="select">select</option>
                                                    <option value="Customer">Male</option>
                                                    <option value="Merchant">Female</option>

                                                </select>

                                            </div>
                                        </td>



                                        <td align="left">
                                            <span><span class="required">PIN Code
                                                </span>:</span>

                                        </td>
                                        <td>

                                            <div class="form-group">
                                                <input type="text" class="form-control">

                                            </div>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </fieldset>
                        <fieldset class="form-group border px-3 pt-0">
                            <legend class="w-auto px-2" style="font-size: 12px;">Contact Person Details</legend>
                            <table class="w-100 table table-borderless table-sm">

                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <span><span class="required">First Name
                                                </span>:</span>

                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </td>
                                        <td align="left">
                                            <span><span class="required">Last Name
                                                </span>:</span>
                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="text" class="form-control">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td align="left">
                                            <span><span class="required">Contact Person Mobile No.
                                                </span>:</span>

                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="text" class="form-control">

                                            </div>
                                        </td>
                                        <td align="left">
                                            <span><span class="required">Contact Person Email
                                                </span>:</span>
                                        </td>
                                        <td align="left">
                                            <div class="form-group">
                                                <input type="email" class="form-control">

                                            </div>
                                        </td>
                                    </tr>
                            
                                </tbody>
                            </table>
                        </fieldset>
                        <div class=" d-flex flex-row justify-content-end">
                            <div class="mr-3">
                                <button class="btn btn-primary pl-3 pr-3">Submit</button>
                            </div>
                            <div>
                                <button class="btn btn-primary pl-3 pr-3">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>