/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 14px !important;
}
a:hover {
  text-decoration: none;
}
.w-95 {
  width: 95%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-layout .mat-checkbox-label {
  white-space: pre-wrap;
  line-height: 1.2;
}

.required::after {
  content: "*";
  color: red;
}

.blue-bg {
  background-color: #084594;
}

.p-dropdown {
  width: 100%;
  line-height:.3em;
}

