/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
html {
  font-size: 13px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif !important;
  margin: 0;
  padding: 0;
  font-size: 14px !important;
}
a:hover {
  text-decoration: none;
}
.w-95 {
  width: 95%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-layout .mat-checkbox-label {
  white-space: pre-wrap;
  line-height: 1.2;
}

.required::after {
  content: "*";
  color: red;
}

.blue-bg {
  background-color: #084594 !important;
}

.p-dropdown {
  width: 100%;
  line-height: 0.3em;
}

.rounded-30 {
  border-radius: 30px !important;
}
.btn_icon {
  max-width: 15px;
}
.bg-grey {
  background: #f1f1f1 !important;
}
.text_primary {
  color: #1e407d !important;
}
.bg_primary {
  background: #1e407d !important;
}
.table_layout {
  border-collapse: collapse;
}
.table_layout th {
  white-space: nowrap;
  background: #eeedff;
}
.table_layout th,
.table_layout td {
  font-size: 13px !important;
  padding: 8px 10px !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
