<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5 p-0">
                <div class="card-header text-white" style="background-color:  #084594;">
                    Hotlisted/Reactivated Details
                </div>
                <div class="card-body">
                    <table class="w-50" [formGroup]="viewHotlistReactiveFormGroup">
                        <tr>
                            <td>
                                <span class="required">Entity Type</span>:
                            </td>
                            <td align="left">
                                <div class="form-group">
                                    <select class="form-control" (change)="entityChange($event)" formControlName="entityId">
                                        <option value="select">select</option>
                                        <option value="1">Customer</option>
                                        <option value="2">Merchant</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tbody *ngIf="showBody">
                            <tr>
                                <td>
                                    <span *ngIf="entityTypeValue === '2'"><span class="required">Merchant
                                            ID</span>:</span>
                                    <span *ngIf="entityTypeValue === '1'"><span class="required">Mobile
                                            Number</span>:</span>
                                </td>
                                <td align="left">
                                    <div class="form-group">
                                        <input type="text" class="form-control" formControlName="entityType" maxlength="10">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td align="left">
                                    <div class=" d-flex flex-row justify-content-end">
                                        <div class="mr-3">
                                            <button class="btn btn-primary" (click)="onGetHotlistData()">GET HOTLIST DATA</button>
                                        </div>
                                        <div>
                                            <button class="btn btn-primary" (click)="resetValue()">RESET</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" *ngIf="showTableData">




                        <thead>
                          <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Action</th>
                            <th scope="col">Entity Id</th>
                            <th scope="col">Entity Type</th>
                            <th scope="col">Hotlist Reactivate Start Date</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Remarks</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of hotlistData; index as i">
            <td>{{i+1}}</td>
                            <td>
                              {{ data.action }}
                            </td>
                            <td>{{ data.entity_Id}}</td>
                            <td>{{ data.entity_Type}}</td>
                            <td>
                              {{ data.hotlist_Reactivate_Start_Date }}
                            </td>
                            <td>{{ data.reason}}</td>
                            <td>{{ data.remarks}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>