<div class="form" [formGroup]="rawMerchantDetailsFormGroup">
    <table>
        <tr>
            <th *ngIf="merchantProfile?.erP_Code">ERP Code:</th>
            <th *ngIf="merchantProfile?.erP_Code"><input class="input" disabled [value]="merchantProfile?.erP_Code"></th>
            <th *ngIf="merchantProfile?.merchant_Type_Id"> Merchant Type:</th>
            <th *ngIf="merchantProfile?.merchant_Type_Id">
                <input class="input" disabled [value]="merchantProfile?.merchant_Type_Id">
            </th>
        </tr>
    
        <tr>
    
            <th> Regional Office:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.regional_Office">
            </th>
            <th>  Zonal Office:</th>
            <th><input class="input" disabled [value]="merchantProfile?.zonal_Office"></th>
        </tr>
        <tr>
            <th> SBU Type:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.sbU_TYpe"> 
            </th>
            <th> GST Number:</th>
            <th><input class="input" disabled [value]="merchantProfile?.gstNo"></th>
            
    
        </tr>
       
        <tr>
           
            <th> Permanent Address 1:</th>
            <th><input class="input" disabled [value]="merchantProfile?.perm_Address1"></th>
            <th>Permanent Address 2:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.perm_Address2"> 
            </th>
    
        </tr>
        <tr>
            <th> Permanent Address 3:</th>
            <th><input class="input" disabled [value]="merchantProfile?.perm_Address3"></th>
            <th>Permanent City:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.perm_City"> 
            </th>
            
    
        </tr>
        <tr>
            <th> Permanent District:</th>
            <th><input class="input" disabled [value]="merchantProfile?.perm_District"></th>
            <th>Permanent Location:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.perm_Location"> 
            </th>
            
    
        </tr>
        <tr>
            <th> Permanent PIN CODE:</th>
            <th><input class="input" disabled [value]="merchantProfile?.perm_PIN_Code"></th>
            <th>Permanent State:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.perm_State"> 
            </th>
            <!-- <th> Permanent PIN CODE:</th>
            <th><input class="input" disabled [value]="merchantProfile?.perm_PIN_Code"></th> -->
            
    
        </tr>
        <tr>
            <th *ngIf="merchantProfile?.perm_std_code===0">Permanent STD Code:</th>
            <th *ngIf="merchantProfile?.perm_std_code===0">
                <input class="input" disabled formControlName="permanentStdCode" [value]="merchantProfile?.perm_std_code"> 
            </th>
            <th *ngIf="merchantProfile?.perm_Ph_Off===0"> Permanent Phone Number:</th>
            <th *ngIf="merchantProfile?.perm_Ph_Off===0"><input class="input" [value]="merchantProfile?.perm_Ph_Off===0" disabled formControlName="permanentPhoneNumber"></th>
            
    
        </tr>
        <tr>
           
            <th *ngIf="merchantProfile?.perm_fax===0"> Permanent Fax:</th>
            <th *ngIf="merchantProfile?.perm_fax===0"><input class="input" [value]="merchantProfile?.perm_fax" disabled formControlName="permanentFax"></th>
            
    
        </tr>
        <tr>
            <th>Sales Area:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.salesArea"> 
            </th>
            <th> PAN No.:</th>
            <th><input class="input" disabled [value]="merchantProfile?.panNo"></th>
            
    
        </tr>
        <tr>
            <th>Dealer Name:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.dealer_name"> 
            </th>
            <th> Outlet Category:</th>
            <th><input class="input" disabled [value]="merchantProfile?.outlet_Category"></th>
            
    
        </tr>
        <tr>
            <th>Outlet Name:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.outletName"> 
            </th>
            <th> Contact Person Name:</th>
            <th><input class="input" disabled [value]="merchantProfile?.name"></th>
            
    
        </tr>
        <tr>
            <th *ngIf="merchantProfile?.highway_Name">Highway Name:</th>
            <th *ngIf="merchantProfile?.highway_Name">
                <input class="input" disabled [value]="merchantProfile?.highway_Name"> 
            </th>
            <th *ngIf="merchantProfile?.highway_No!=0">Highway Number:</th>
            <th *ngIf="merchantProfile?.highway_No !=0"><input class="input" disabled [value]="merchantProfile?.highway_No"></th>
            
    
        </tr>
        <tr>
            <th>Mobile Number:</th>
            <th>
                <input class="input" disabled [value]="merchantProfile?.mobile"> 
            </th>
            <th>Email:</th>
            <th><input class="input" disabled [value]="merchantProfile?.email"></th>
            
    
        </tr>
       
        <tr>
            <th *ngIf="merchantProfile?.comm_Address1">Communication Address 1:</th>
            <th  *ngIf="merchantProfile?.comm_Address1">
                <input class="input" disabled [value]="merchantProfile?.comm_Address1"> 
            </th>
            <th *ngIf="merchantProfile?.comm_Address2"> Communication Address 2:</th>
            <th *ngIf="merchantProfile?.comm_Address2">
                <input class="input" disabled [value]="merchantProfile?.comm_Address2">
            </th>
            
    
        </tr>
        <tr>
            <th *ngIf="merchantProfile?.comm_Address3">Communication Address 3:</th>
            <th *ngIf="merchantProfile?.comm_Address3">
                <input class="input" disabled [value]="merchantProfile?.comm_Address3"> 
            </th>
            <th *ngIf="merchantProfile?.comm_Location"> Communication Location:</th>
            <th *ngIf="merchantProfile?.comm_Location"><input class="input" disabled [value]="merchantProfile?.comm_Location"></th>
            
    
        </tr>
        <tr>
            <th *ngIf="merchantProfile?.comm_City">Communication City:</th>
            <th *ngIf="merchantProfile?.comm_City">
                <input class="input" disabled [value]="merchantProfile?.comm_City"> 
            </th>
            <th *ngIf="merchantProfile?.comm_District"> Communication District:</th>
            <th *ngIf="merchantProfile?.comm_District"><input class="input" disabled [value]="merchantProfile?.comm_District"></th>
            
    
        </tr>
       
        <tr>
            <th *ngIf="merchantProfile?.comm_Fax===0"> Communication Fax:</th>
            <th *ngIf="merchantProfile?.comm_Fax===0"><input class="input" disabled [value]="merchantProfile?.comm_Fax" formControlName="commFax"></th>
            <th *ngIf="merchantProfile?.comm_PIN_Code===0"> Communication PIN CODE:</th>
            <th *ngIf="merchantProfile?.comm_PIN_Code===0"><input class="input" disabled [value]="merchantProfile?.comm_PIN_Code" formControlName="communicationPinCode" ></th>
            
    
        </tr>
        <tr>
            <th *ngIf="merchantProfile?.comm_std_code===0">Communication STD Code:</th>
            <th *ngIf="merchantProfile?.comm_std_code===0">
                <input class="input" disabled [value]="merchantProfile?.comm_std_code"> 
            </th>
            <th *ngIf="merchantProfile?.comm_Ph_Off===0"> Communication Phone Number:</th>
            <th *ngIf="merchantProfile?.comm_Ph_Off===0">
                <input class="input" disabled [value]="merchantProfile?.comm_Ph_Off">
            </th>
            
    
        </tr>
    
      <tr *ngIf="merchantProfile?.comm_State">
        <th >Communication State:</th>
        <th>
            <input class="input" disabled [value]="merchantProfile?.comm_State"> 
        </th>
      </tr>
    </table>
    
</div>


