.blue-bg {
    background-color: #084594;
}

.required::after {
    content: "*";
    color: red;
}

.container {
    overflow: auto;
}

.borderForTable {
    border: 1px solid #b2b5b8;
}

th {
    padding: 0px 0 0 8px;
    font-style: bold;
}

.blue-bg {
    background-color: #084594;
}

.container {
    border-radius: 5px;
}

.mat-column-sno {
    flex: 0 0 7%;
}

.mat-column-select {
    flex: 0 0 7%;
}

.mat-column-viewDetail {
    flex: 0 0 7%;
}

.bottom {
    margin-top: 1%;
}

th {
    height: 40px;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    font-size: 15px;
    font-style: bold;
    line-height: 1.15;
    letter-spacing: normal;
    color: #4f4f4f;
}

.row {
    min-height: 20vh;
    max-height: 48vh;
    overflow-y: auto;
    margin-left: 4%;
}

td {
    height: 40px;
    padding: 0px 0 0 5px;
}

.borderForTable {
    border: 1px solid #b2b5b8;
}

th {
    padding: 0px 0 0 8px;
    font-style: bold;
}

.move {
    margin-right: -10%;
}

.inputs {
    margin-top: 77px;
}

.listTable {
    width: 100%;
    margin-top: 10px;
}

.firstTd {
    width: 35px;
}

.lightColurBackeground {
    background-color: #e9ecef;
}

.verifyRejectBtnsAlign {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    justify-content: flex-end;
    padding-left: 5px;
}


/* .alertAlignment {
    width: 80%;
    margin: 20px 0px 0 10px;
}

.alertAlignment2 {
    width: 80%;
    margin: 20px 0px 0 10px;
} */

.reduce {
    height: 30px;
}

.buttons {
    margin-left: -87%;
    margin-top: 1%;
}

.alert-warning {
    padding-top: 5px;
}

.alertAlignment {
    width: 80%;
    margin: 20px 0px 0 10px;
    color: rgb(21, 196, 45);
    border: 1px solid rgb(166, 238, 166);
    background-color: rgb(252, 232, 180);
}