<div class="container pt-5" *ngIf="!showapprovalInfo">
    <div class="card shadow">
        <div class="card-header p-2 blue-bg text-white">
            <strong class="balanceinfo">Approve Corporate Customer Bonus</strong>
        </div>


        <div class="card-body" [formGroup]="approveCustomerForm">
            <table class="w-50 ">

                <tr>
                    <td>
                        <span><span class="required">Mobile No</span>:</span>
                    </td>
                    <td align="left">
                        <div class="form-group">
                            <input matInput required type="text" maxlength="10" class="form-control" formControlName="mobileNumber">
                        </div>
                    </td>
                </tr>

                <tbody>

                    <tr>
                        <td>
                        </td>
                        <td align="left">
                            <div class=" d-flex flex-row justify-content-end">
                                <div class="mr-3">
                                    <button class="btn btn-primary" [disabled]="approveCustomerForm.invalid" (click)="ShowTableList();">Search</button>
                                </div>
                                <div class="mr-3">
                                    <button class="btn btn-primary" (click)="Reset();">Reset</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-body" *ngIf="approvalBonusTable">


            <table class="listTable">
                <thead class="lightColurBackeground">
                    <tr>
                        <th class="firstTd"><input type="checkbox"></th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Mobile No </th>
                        <th scope="col">Bonus Point</th>
                        <th scope="col">Status</th>
                        <th scope="col">Active/Inactive</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created Date</th>
                        <th scope="col"> Modified Date </th>
                        <th scope="col" style="margin-left: -12px;">Remark</th>
                        <th scope="col">Approval Authority </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="firstTd borderForTable">
                            <input type="checkbox" #chkEnable ngModel>
                        </td>
                        <td class="borderForTable">Dev Team</td>
                        <td class="borderForTable">9789585858</td>
                        <td class="borderForTable">4</td>
                        <td class="borderForTable">Pending</td>
                        <td class="borderForTable">Inactive</td>
                        <td class="borderForTable">Rideshare Company</td>
                        <td class="borderForTable">Sanjay </td>
                        <td class="borderForTable"></td>
                        <td class="borderForTable">new Add</td>
                        <td class="borderForTable">
                            <input type="text" [disabled]="!chkEnable.checked">
                        </td>
                    </tr>

                    <td class="borderForTable">
                        <input type="checkbox" #chkEnable2 ngModel>

                    </td>
                    <td class="borderForTable">QA n Team</td>
                    <td class="borderForTable">9857585747</td>
                    <td class="borderForTable">3</td>
                    <td class="borderForTable">Pending</td>
                    <td class="borderForTable">Inactive</td>
                    <td class="borderForTable">SandeepAdmin</td>
                    <td class="borderForTable">19/02/2022 12:09:22</td>
                    <td class="borderForTable"></td>
                    <td class="borderForTable">add bonus Admin</td>
                    <td class="borderForTable">
                        <input type="text" [disabled]="!chkEnable2.checked">
                    </td>
                </tbody>
            </table>


        </div>

        <div style="text-align:center;" *ngIf="approvalBonusTable">
            <button class="btn btn-primary" (click)="approveCustomerBonus()">Approve</button> &nbsp;
            <button class="btn btn-primary">Reject</button>
        </div>


    </div>
</div>


<div class="alert alert-success alertAlignment" role="alert" *ngIf="showapprovalInfo">
    Following Customer Bonus has been Approved Successfully
</div>