<app-header></app-header>
<div class="content_area">    
    <section class="col-sm-6 offset-sm-3 bg-white pb-4 instant_enrollment_wrapper">
        <div class="py-1 bg-white">
            <h2 class="program_heading1">Wallet Recharge</h2>
        </div>
        <form action="">
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3">
                <div class="col-sm-12">
                    <label class="form_label">Mobile Number <sup>*</sup></label>
                    <input type="tel" class="form-control">
                </div> 
            </div>
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3">       
                <div class="col-sm-12">
                    <label class="form_label">Customre Name <sup>*</sup></label>
                    <input type="text" class="form-control">
                </div>
            </div>            
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3">       
                <div class="col-sm-12">
                    <label class="form_label">Amount <sup>*</sup></label>
                    <input type="number" class="form-control">
                </div>
            </div>
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3">
                <div class="col-sm-6">
                    <mat-checkbox class="example-margin">I agree to <a href="#"> Terms & Conditions</a> and <a href="#"> Applicable Charges</a></mat-checkbox>
                </div>
            </div>
            <div class="enrollment_block d-flex align-items-center justify-content-between mb-3">
                <div class="col-sm-12">
                    <button class="submit_btn"><i class="fa fa-paper-plane"></i> <span class="ml-2">Submit</span></button>
                    <button class="submit_btn ml-3"><i class="fa fa-undo"></i> <span class="ml-2">Reset</span></button>
                </div>
            </div>
        </form>

    </section>
</div>
<app-footer></app-footer>