<body>
  <div class="container pt-5">
    <div class="card shadow">
      <div class=" card-header p-2 blue-bg text-white">
        <strong>Customer Approval</strong>
      </div>
      <div class="card-body pt-0">
        <fieldset class="form-group border px-3 pt-0">
          <legend class="w-auto px-2" style="font-size: 12px;"></legend>
          <div class="d-flex d-flex-row justify-content-between">
            <table class="w-50" [formGroup]="customerkycformgroup">
              <!-- <tr>
                  <td>
                      <span class="required">Select Cateogory</span>:
                  </td>
                  <td align="left">
                      <div class="form-group">
                          <select class="form-control" formControlName="category">
        
                          
                  <option value="0">All</option>
                  <option value="1">Email</option>
                  <option value="2">Mobile</option>
                  <option value="3">Date Range</option>
                  <option value="4">Email, Mobile and Date Range</option>
                  <option value="5">Mobile and Date Range</option>
                  <option value="6">Email and Date Range</option>
                  
                              
                            </select>
                      </div>
                  </td>
              </tr> -->
              <tr>
                <td>
                    <span >Email</span>:
                </td>
                <td align="left">
                    <div class="form-group">
                       <input type="text" class="form-control" formControlName="email">   
                    </div>
                </td>
            </tr>
            <tr>
              <td>
                  <span >Mobile Number</span>:
              </td>
              <td align="left">
                  <div class="form-group">
                     <input type="text" class="form-control" formControlName="mobileno" maxlength="10" minlength="10">   
                  </div>
              </td>
          </tr>
              <tr>
                  <td>
                      <span >From Date</span>:
                  </td>
                  <td align="left">
                      <div class="form-group">
                         <input type="date" class="form-control" formControlName="from_Date">   
                      </div>
                  </td>
              </tr>
  
              <tr>
                  <td>
                      <span >To Date</span>:
                  </td>
                  <td align="left">
                      <div class="form-group">
                         <input type="date" class="form-control" formControlName="to_Date">   
                      </div>
                  </td>
              </tr>
  
  
  
              <tbody>
  
                  <tr>
                      <td>
                      </td>
                      <td align="left">
                          <div class=" d-flex flex-row justify-content-end">
                              <div class="mr-3">
                                  <button class="btn btn-primary" (click)="onSearchPendingKycUsers()">Search</button>
                              </div>
                              <div class="mr-3">
                                  <button class="btn btn-primary" (click)="Reset()">Reset</button>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
          
          </div>
        
          <div class="mt-3 card mb-3">
            <mat-table [dataSource]="dataSource" style="width: 100%;" class="mat-elevation-z8">
              <ng-container matColumnDef="sno">
                  <mat-header-cell *matHeaderCellDef >S.No.</mat-header-cell>
                  <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{i+1}} </mat-cell>
              </ng-container>
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
              <ng-container matColumnDef="customer_Id">
                <mat-header-cell *matHeaderCellDef >Customer Id </mat-header-cell>
                <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{row.customer_Id}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="mobile_No">
                <mat-header-cell *matHeaderCellDef >Mobile Number</mat-header-cell>
                <mat-cell *matCellDef="let row;let i=index" class="text-center"> {{row.mobile_No}} </mat-cell>
              </ng-container>
  
              <ng-container matColumnDef="poa">
                <mat-header-cell *matHeaderCellDef > POA </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-center"> 
                  <p  *ngIf="row.poi!=null" style="color: blue;cursor: pointer;" (click)="onImageClick('http://180.179.222.161/hpp/Upload_Document/Upload_KYC/'+row.poi.split(':')[0])"> POA</p>
                  <p *ngIf="row.poi===null" > No Image Found</p>
                 
                  </mat-cell>
              </ng-container>
              <ng-container matColumnDef="poi">
                <mat-header-cell *matHeaderCellDef > POI </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-center"> 
                  <p  *ngIf="row.poi!=null" style="color: blue;cursor: pointer;" (click)="onImageClick('http://180.179.222.161/hpp/Upload_Document/Upload_KYC/'+row.poi.split(':')[1])"> POI</p>
                  <p *ngIf="row.poi===null" > No Image Found</p>
                
                  </mat-cell>
              </ng-container>
  
              
  
              <ng-container matColumnDef="created_On">
                <mat-header-cell *matHeaderCellDef > Created On </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-center"> {{row.created_On | date: 'dd/MM/yyyy'}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="viewDetails">
                <mat-header-cell *matHeaderCellDef > View Detail </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-center"> 
                  <p style="color: blue;cursor: pointer;" (click)="onViewCustomerDetails(row.customer_Id)">View Detail</p>
                 </mat-cell>
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row
              *matRowDef="let row;let i=index; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5,10,20]"></mat-paginator>
          </div>
          <div class="row" [formGroup]="customerkycformgroup">
            <div class="col-lg-2">
              <label style="margin-top: 4px;">
                  <small>Comments<span style="color: red;">*</span>:</small>
                </label>  
            </div>
            <div class="col-lg-4">
              <section>
                  <textarea class="textarea" cols="80" rows="3" style="width: 100%;"  
                [(ngModel)]="interaction.textValue"
                (ngModelChange)="onModelChange($event)"
                [attr.maxlength]="counter ? maxNumberOfCharacters : ''" formControlName="comments">
              </textarea>
              <!-- <span style="font-size:12px" class="text-danger"
              *ngIf="approveMerchantsFormGroup.controls.comments.hasError('required')">
              Comment is <strong>required!</strong>
            </span> -->
                 
              </section>
            </div>
            <div class="col-lg-6">
              <small><i style="font-size: 12px;">({{maxNumberOfCharacters-numberOfCharacters2}} Characters Remaining)</i></small>
              <!-- {{numberOfCharacters2}} / {{maxNumberOfCharacters}} -->
          </div>
            
        </div>
          <div class="row mb-3">
            <div class="col-md-12 col-lg-12 col-xs-3">
              <button class="btn btn-danger btn-sm" style="float: right;" (click)="onRejectButtonClick()">Reject</button>
              <button class="btn btn-primary btn-sm" style="float: right;margin-right: 15px;" (click)="onApproveButtonClick()">Approve</button>
              
             
              
            </div>
          </div>
  
  
  
          <!-- <div class="row float-right">
  
          
  
            <button type="submit" class="btn btn-info mb-2 ml-2" (click)="ShowTableList();">Search</button>
            <button type="submit" class="btn btn-info mb-2 ml-2" (click)="Reset();">Reset</button>
  
  
  
          </div> -->
  
  
  
        </fieldset>
       
      </div>
    </div>
  </div>
</body>
