<!-- <app-adminheader></app-adminheader> -->
<div class="container-fluid middle-container">

    <div class="subsection">
    </div>
    <div class="link_container">

        <div class="cM">
            <span>Customer Bonus</span>
            <hr>
            <div id="DashboadQuickMenuBox">

                <app-card [title]="'Manage Customer Bonus'" [bodyText]="'Manage Customer Bonus'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/corporatecustomer/managecustomerbonus'">
                </app-card>

                <app-card [title]="'Approve Customer Bonus'" [bodyText]="'Approve Customer Bonus'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/corporatecustomer/approvecustomerbonus'">
                </app-card>

                <app-card [title]="'Authorize Customer Bonus'" [bodyText]="'Approve Customer Bonus'"
                    [imageIcon]="'assets/images/Retail Customer.png'"
                    [routingLinkUrl]="'/admin/corporatecustomer/authorizecustomerbonus'">
                </app-card>

            </div>
            <br clear="all">
            <br clear="all">
            <br clear="all">




            <br clear="all">
        </div>


    </div>
</div>
<!-- <app-adminfooter></app-adminfooter> -->